body{
	background:#fff;
	// margin:0 auto;
	// width:100%;
	// -webkit-text-size-adjust:100%!important;
 //    -ms-text-size-adjust:100%!important;
 //    -webkit-font-smoothing:antialiased!important;
}
// .wrapper, .wrapper p, .wrapper ul, .wrapper ol{
// 	font-family: Arial, sans-serif;
//     font-size:10px;
// }
.wrapper.cma-gallery{
	position:relative;
	padding:0 25px;
	.w2{
		width:2%;
	}
	.w3{
		width:3%;
	}
	.w4{
		width:4%;
	}
	.w5{
		width:5%;
	}
	.w6{
		width:6%;
	}
	.w7{
		width:7%;
	}
	.w8{
		width:8%;
	}
	.w9{
		width:9%;
	}
	.w10{
		width:10%;
	}
	.w11{
		width:11%;
	}
	.w12{
		width:12%;
	}
	.relative{
		position:relative;
	}
}