html{
  height: 100%;
}
body{
  margin: 0;
  font:400 14px "Roboto", Arial, sans-serif;
  height: 100%;
}
*, *:after, *:before{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:focus {
  outline: none;
}
nav, header, footer, button, time, article, section, main{
  display: block;
}
img{border-style:none;}
a{
  text-decoration:underline;
}
.animate, a{
  -webkit-transition:all .2s ease-out; 
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
a:focus,
a:hover{
  outline:none;
  text-decoration:none; 
}
a:hover{

}
h1, h2, h3, h4, h5, h6{
  color:#221100;
}
p{
  color:#9b9b9b;
  font: 14px/24px "Roboto", Arial, sans-serif;
}
input,
textarea,
select{

}
textarea:focus, input:focus, button:focus{
  outline: none;
}
textarea{
  resize: none;
  min-height: 117px;
}
ul{
  padding: 0px;
  margin: 10px 0;
  list-style: inside;
  list-style-image: url(../images/ul.png);
}
li{
  color: #333333;
}
p{
  font: 14px "Roboto", Arial, sans-serif;
  margin-top: 0;
  color: #333333;
}
form,
fieldset{
  margin:0;
  padding:0;
  border-style:none;
}
.wrapper{
  margin: 0 auto;
  padding: 0 0 287px 0;
  overflow-x: hidden;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom:-287px;
  position: relative;
}
.content{
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
}
.content:after, .menu-white:after, 
.school-top:after, .footer-wrap:after{
  display: block;
  content: "";
  clear:both;
}
.header, .footer{
  background:#221100;
}
.header{
  padding:17px 0 22px;
  position: relative;
}
.menu_btn{
  position: absolute;
  display: block;
  content: "";
  overflow: hidden;
  margin: 0;
  padding: 0;
  left:19px;
  top:10px;
  width:51px;
  height:29px;
  z-index:4;
  font-size: 0;
  text-indent: -9999px;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
.menu_btn:focus{outline:none;}
.menu_btn.is-active {
  position:fixed;
  top:20px;
  left:-4px;
}
.menu_btn span {
  display: block;
  position: absolute;
  top: 11px;
  left: 0px;
  right: 0px;
  height: 6px;
  background: #ffffff;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
}
.menu_btn span::before,
.menu_btn span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 6px;
  background: #ffffff;
  content: "";
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
}
.menu_btn span::before {
  top: -9px;
}
.menu_btn span::after {
  bottom: -9px;
}
.menu_btn span::before,
.menu_btn span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
}
.menu_btn span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.menu_btn span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
.menu_btn.is-active span {
  background: none;
}
.menu_btn.is-active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menu_btn.is-active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.menu_btn.is-active span::before,
.menu_btn.is-active span::after {
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}
/*END MENU BTN*/
/*MAIN MENU*/
.layout{
  display:none;
  position:fixed;
  left:0;
  top:-100px;
  bottom:0;
  right:0;
  z-index:2;
}
.menu-section{
  display: none;
  position: fixed;
  left:0;
  top:-100px;
  bottom:0;
  width:320px;
  z-index:3;
  background: rgba(34,17,0,0.8);
}
.main-menu{
  list-style: none;
  margin:243px 0 0 0;
  padding: 0;
}
.main-menu a{
  display: block;
  padding:20px 20px 20px 45px;
  text-transform: uppercase;
  color:#fff;
  font-size: 18px;
  line-height: 18px;
  background: rgba(34,17,0,0);
  position: relative;
  text-decoration: none;
}
.main-menu a:before{
  position: absolute;
  content: "";
  left:0;
  top:0;
  bottom:0;
  width:0px;
  background:#ffb400;
  -webkit-transition:all .2s ease-out; 
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.main-menu a:hover:before, 
.main-menu a.active:before{
  width:6px;
}
.main-menu a:hover, 
.main-menu a.active{
  background: rgba(34,17,0,0.75);
}
/*END MAIN MENU*/
/*Header*/
.logo{
  float:left;
  width:211px;
  height:104px;
  background: url(../images/logo.png) no-repeat;
  text-indent: -9999px;
  font:0px/0px Arial, sans-serif;
  margin-right:70px;
}
.menu-white{
  float: right;
  width:auto;
  margin:40px 0 0;
}
.tel-num{
  display: inline-block;
  vertical-align: top;
  font:400 24px/24px "Roboto", sans-serif;
  color:#fff;
  margin:10px 90px 0 0;
  text-decoration: none;
}
.tel-num i{
  margin-right:15px;
  color:#ffb400;
}
.btn{
  display: inline-block;
  vertical-align: top;
  color:#fff;
  font:400 18px/18px "Roboto", sans-serif;
  letter-spacing: 0.25px;
  background:#ffb400;
  border:0;
  cursor: pointer;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
}
.btn:hover{
  background: #D89800;
}
.top-btn-wrapper{
  display: inline-block;
  vertical-align: top;
}
.call_btn.btn{
  margin:0;
  padding:0 53px 0 20px;
  position: relative;
  line-height: 43px;
}
.call_btn:after{
  position: absolute;
  content: "";
  width:13px;
  height:9px;
  top:50%;
  right:12px;
  margin-top:-4px;
  background:url(../images/arrow-btn.png) no-repeat;
}
.call_btn.btn.active:after{
  -webkit-transform:rotate(-180deg);
     -moz-transform:rotate(-180deg);
      -ms-transform:rotate(-180deg);
       -o-transform:rotate(-180deg);
          transform:rotate(-180deg);
}
button.call_btn.btn:hover{
  background:#D89800;
}
.top-social{
  display: inline-block;
  vertical-align: top;
  list-style:none;
  margin:9px 0 0 70px;
  padding:0;
}
.top-social li{
  display: inline-block;
  vertical-align: top;
  margin-left: 16px;
}
.top-social a{
  display:block;
}
.top-social a i{
  color:#d1d1d1;
  font-size: 24px;
  line-height: 24px;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.top-social a:hover i{
  color:#ffb400;
}
/*End header*/
/*CALL BACK*/
.call_back{
  background: #f9f9fb;
  width: 100%;
  display: none;
}
.call_close{
  position: absolute;
  display: block;
  top:5px;
  right: 10px;
  background: none;
  border:0;
  outline:none;
  cursor:pointer;
}
.call_close:hover{
  color:#ffb400;
}
.call_close i{
  font-size: 20px;
  line-height: 20px;
}
.call_back .content{
  padding: 20px 15px 10px;
  position: relative;
}
.call-wrapper{
  width:50%;
  float:right;
  position: relative;
}
.call-wrapper:before{
  position: absolute;
  content:"";
  right:100%;
  top:-20px;
  width:530px;
  height:268px;
  background: url(../images/call-back.png) no-repeat;
}
.call_title{
  color:#0c193c;
  text-align: center;
  font-size:24px;
  line-height:24px;
  margin-bottom:15px;
}
.call-back-form{
  width:280px;
  margin:0 auto;
}
.input-wrapper{
  width:270px;
  margin:0 auto 13px;
  position:relative;
}
.input-wrapper.submit{
  margin:25px auto 13px;
}
label.error{
  position: absolute;
  bottom:-17px;
  left:0;
  right:0;
  padding: 0 17px;
  color:#EA0909;
  font:400 14px/14px Arial, sans-serif;
}
.input-wrapper input, .input-wrapper textarea{
  width:100%;
  background:#fff;
  border:0;
  padding:0 16px;
  font:400 14px/40px Arial, sans-serif;
  -webkit-border-radius:6px;
     -moz-border-radius:6px;
          border-radius:6px;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(226,226,226,1);
     -moz-box-shadow: 0px 5px 5px 0px rgba(226,226,226,1);
          box-shadow: 0px 5px 5px 0px rgba(226,226,226,1);
}
.place::-webkit-input-placeholder{
  color: #e6e6e6;
  font:400 italic 14px/40px Arial, sans-serif;
  letter-spacing:0.25px;
}
.place:-moz-placeholder{
  color: #e6e6e6;
  opacity: 1;
  font:400 italic 14px/40px Arial, sans-serif;
  letter-spacing:0.25px;
}
.place::-moz-placeholder{
  color: #e6e6e6;
  opacity: 1;
  font:400 italic 14px/40px Arial, sans-serif;
  letter-spacing:0.25px;
}
.place:-ms-input-placeholder{
  color: #e6e6e6;
  font:400 italic 14px/40px Arial, sans-serif;
  letter-spacing:0.25px;
}
.input-wrapper .call_submit.btn{
  width:100%;
  text-align: center;
  line-height:40px;
  position: relative;
  -webkit-box-shadow: 0px 3px 0px 0px #946800;
     -moz-box-shadow: 0px 3px 0px 0px #946800;
          box-shadow: 0px 3px 0px 0px #946800;
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.input-wrapper .call_submit.btn:hover{
  background:#C1901B;
  -webkit-box-shadow: 0px 2px 0px 0px #946800;
     -moz-box-shadow: 0px 2px 0px 0px #946800;
          box-shadow: 0px 2px 0px 0px #946800;
  top:1px;
}
.input-wrapper .call_submit.btn:active{
  -webkit-box-shadow: 0px 0px 0px 0px #946800;
     -moz-box-shadow: 0px 0px 0px 0px #946800;
          box-shadow: 0px 0px 0px 0px #946800;
  top:3px;
}
/*END CALL BACK*/
/*ERROR 404*/
.error-page{
  padding:120px 0 100px;
  background:url(../images/404.jpg) 50% 50% no-repeat;
  background-size:cover;
}
.w50{
  float:left;
  width:50%;
  text-align:center;
}
.error-page .title{
  font:700 300px/300px "Nunito", Arial, sans-serif;
  color:#221100;
  margin:0;
  text-align:center;
}
.error-page .subtitle{
  font-size:45px;
  line-height:45px;
  margin: 0 auto 86px;
  color:#221100;
}
.error-btn.btn{
  position:relative;
  width:284px;
  text-transform:uppercase;
  text-decoration: none;
  text-align:center;
  font-size:24px;
  line-height:58px;
  -webkit-box-shadow: 0px 3px 0px 0px #946800;
  -moz-box-shadow: 0px 3px 0px 0px #946800;
  box-shadow: 0px 3px 0px 0px #946800;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.error-btn.btn:hover{
  -webkit-box-shadow: 0px 2px 0px 0px #946800;
     -moz-box-shadow: 0px 2px 0px 0px #946800;
          box-shadow: 0px 2px 0px 0px #946800;
  top: 1px;
}
.error-btn.btn:active{
  -webkit-box-shadow: 0px 0px 0px 0px #946800;
     -moz-box-shadow: 0px 0px 0px 0px #946800;
          box-shadow: 0px 0px 0px 0px #946800;
  top: 3px;
}
/*END ERROR 404*/
/*SUBSCRIBE BOTTOM*/
.subscribe-bottom{
  background:#ffb400;
  padding:56px 0 45px;
}
.subscribe-bottom .content{
  text-align: center;
}
.subscribe-b-form .input-wrapper{
  display: inline-block;
  vertical-align: top;
  width:37%;
  margin:0 2%;
}
.subscribe-b-form .input-wrapper input{
  line-height: 74px;
  font-size: 24px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(226,226,226,1);
     -moz-box-shadow: 0px 0px 0px 0px rgba(226,226,226,1);
          box-shadow: 0px 0px 0px 0px rgba(226,226,226,1);
}
.subsc_submit.btn{
  width:100%;
  background:#6dc234;
  text-align: center;
  font-size: 24px;
  line-height:74px;
  -webkit-box-shadow: 0px 3px 0px 0px #647e00;
     -moz-box-shadow: 0px 3px 0px 0px #647e00;
          box-shadow: 0px 3px 0px 0px #647e00;
}
.subsc_submit.btn:hover{
  background:#579E27;
}
.subsc_submit.btn:active{
  -webkit-box-shadow: 0px 1px 0px 0px #647e00;
     -moz-box-shadow: 0px 1px 0px 0px #647e00;
          box-shadow: 0px 1px 0px 0px #647e00;
}
.subscribe-b-form .place::-webkit-input-placeholder{
  font-size: 24px;
  line-height: 74px;
}
.subscribe-b-form .place:-moz-placeholder{
  font-size: 24px;
  line-height: 74px;
}
.subscribe-b-form .place::-moz-placeholder{
  font-size: 24px;
  line-height: 74px;
}
.subscribe-b-form .place:-ms-input-placeholder{
  font-size: 24px;
  line-height: 74px;
}
/*END SUBSCRIBE BOTTOM*/
/*MAP BOTTOM*/
.full-map{
  position: relative;
}
#panarinaelita {
  height:480px;
  width:100%;
}
.gm-style-iw * {
  display: block;
  width: 100%;
}
.gm-style-iw h4, .gm-style-iw p {
  margin: 0;
  padding: 0;
}
.gm-style-iw a {
  color: #4272db;
}
.map-image{
  width:30%!important;
  height:auto;
  float: left;
  margin:0 5px 5px 0;
}
.right-map{float: right;width:65%;}
.inner-form{
  width: 574px;
  padding:53px 47px 28px 48px;
  border:1px solid #c1c1c1;
  margin:0 0 0 -287px;
  position: absolute;
  z-index: 1;
  bottom:286px;
  left:50%;
  background:#fff;
}
.call_close_bot{
  position: absolute;
  top:19px;
  right:12px;
  border:0px solid #fff;
  background: transparent;
  cursor:pointer;
}
.call_close_bot i{
  font-size:16px;
  line-height: 16px;
}
.call_close_bot:hover{
  color: #ffb400;
}
.call-back-form-bot .input-wrapper{
  width: 100%;
  margin: 0 auto 16px;
}
.call-back-form-bot input, .call-back-form-bot textarea{
  border: 1px solid #c1c1c1;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(226,226,226,1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(226,226,226,1);
  box-shadow: 0px 0px 0px 0px rgba(226,226,226,1);
}
.call-back-form-bot label.error{bottom:-14px;}
.call-back-form-bot .submit{
  text-align: center;
}
.call_submit_bot.btn{
  margin: 0;
  padding: 0 30px 0;
  line-height: 43px;
  font-size: 14px;
}
/*END MAP BOTTOM*/
/*School-page*/
.school-page{
  padding:35px 0 40px;
  background:#fff;
}
.school-top{
  max-width:1070px;
  margin: 0 auto 15px;
  border-bottom:1px solid #ffb400;
}
.img-logo{
  float:left;
  width:48%;
  margin-right:2%;
}
.img-logo img{
  display: block;
  margin:0 auto;
  max-width:100%;
}
.school-description{
  float:right;
  width:50%;
  display:block;
  list-style:none;
  margin:0 0 10px;
}
.school-description li{
  font:400 14px/18px "Roboto", sans-serif;
  color:#221100;
  margin:0 0 10px;
}
.school-description span{
  display: inline-block;
  vertical-align: top;
  font:400 14px/18px "Roboto", sans-serif;
  color:#221100;
}
.school-description span.orange{
  color:#ffb400;
}
.image-full img{
  display:block;
  max-width:100%;
  margin:0 auto;
}
.image-table{
  overflow-x:auto; 
}
.center{
  text-align:center;
}
.download-btn{
  margin:40px 0;
  padding:0 30px 0;
  line-height:43px;
  font-size:14px;
  text-decoration:none;
}
/*.image-table img{
  display: block;
  margin: 0 auto;
}*/
/*END School-page*/

.text-page{
  padding:10px 0 100px;
}
.sections-wrapper{
  padding:60px 0 60px;
  background:#fff;
}
.col-4{
  display: inline-block;
  vertical-align: top;
  width:25%;
  margin:0 -2px 15px;
  padding:0 15px;
  text-align: center;
}
.round-icon{
  display: block;
  width:160px;
  height:160px;
  background:#fff;
  margin:0 auto 30px;
  padding-top:35px;
  text-decoration:none;
  -webkit-border-radius:50%;
     -moz-border-radius:50%;
          border-radius:50%;
  -webkit-box-shadow:0px 9px 16px 4px rgba(226, 226, 226, 0.75);
     -moz-box-shadow:0px 9px 16px 4px rgba(226, 226, 226, 0.75);
          box-shadow:0px 9px 16px 4px rgba(226, 226, 226, 0.75);
}
.col-4:hover .round-icon{
  -webkit-box-shadow:0px 9px 46px 4px rgba(226, 226, 226, 0.95);
     -moz-box-shadow:0px 9px 46px 4px rgba(226, 226, 226, 0.95);
          box-shadow:0px 9px 46px 4px rgba(226, 226, 226, 0.95);
}
.round-icon img{
  display: block;
  margin:0 auto;
  width:90px;
  height: auto;
}
.section-title{
  color:#000;
  letter-spacing:0.25px;
  font-size:18px;
  line-height:1;
  min-height: 36px;
  margin-bottom:5px;
  text-transform: uppercase;
}
.section-descr{
  font:400 14px/24px "Open Sans", Arial, sans-serif;
  letter-spacing:0.25px;
  color:#a0a0a0;
  min-height:97px;
}
.orange-lnk{
  display: inline-block;
  vertical-align: top;
  font:italic 18px/24px Arial, sans-serif;
  color:#ffb400;
  letter-spacing:0.25px;
  text-decoration: none;
}
.orange-lnk:hover{
  text-decoration:underline;
}
.workflow{
  padding:120px 0 45px;
  background:url(../images/workflow-bg.jpg) 50% 50% no-repeat;
}
.workflow .main-title{
  margin-bottom:100px;
  -webkit-text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.57);
     -moz-text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.57);
          text-shadow: 0px 5px 0px rgba(0, 0, 0, 0.57);
}
.schena{
  text-align: center;
}
.w25{
  display: inline-block;
  vertical-align: top;
  width:25%;
  margin:0 -2px;
  position: relative;
}
.w25.last{
  margin:0 0 0 -2px;
}
.w25:after{
  position: absolute;
  content:"";
  top:112px;
  height:2px;
  background:#fff;
}
.w25.first:after{
  right:-10%;
  left:90%;
}
.w25.last:after{
  display:none;
}
.round{
  display:block;
  border:3px solid #fff;
  width:226px;
  height:226px;
  -webkit-border-radius:50%;
     -moz-border-radius:50%;
          border-radius:50%;
  margin:0 auto 170px;
  position: relative;
  cursor:pointer;
}
.round:hover{
  background:#ffb400;
  border:3px solid #ffb400;
}
.round img{
  display: block;
  width:95px;
  height:auto;
  margin:62.5px auto 0;
}
.punkt-title{
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top:256px;
  left:-30px;
  right:-40px;
  min-height:140px;
  font-size: 18px;
  line-height: 2;
  color:#fff;
  letter-spacing:0.5px;
}
.slider-wrapper{
  padding:55px 0 80px; 
  background:#fff;
}
.title-line{
  color:#000;
  letter-spacing: 0.25px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin:0 0 50px;
}
.title-line span{
  display: inline-block;
  vertical-align: top;
  position:relative;
  padding: 0 0 15px;
}
.title-line span:after{
  position: absolute;
  content:"";
  bottom: 0;
  left:0; 
  right:0;
  height:8px; 
  width:40%;
  margin:0 auto;
  background:#ffb400;
}
.slider-info-wrapper{
  padding:50px 0 115px;
  background:url(../images/info-slider-bg.jpg) 50% bottom no-repeat;
}
.main-title{
  color:#fff;
  font-size:48px;
  line-height:48px;
  letter-spacing:0.25px;
  text-transform:uppercase;
  margin-bottom: 50px;
  text-align: center;
  -webkit-text-shadow:0px 5px 0px rgba(150, 150, 150, 0.57);
     -moz-text-shadow:0px 5px 0px rgba(150, 150, 150, 0.57);
          text-shadow:0px 5px 0px rgba(150, 150, 150, 0.57);
}
.slider-info .tab-row{
  display:table-row;
  width:100%;
}
.slider-info .slick-prev, 
.slider-info .slick-next{
  top:auto;
  bottom:-100px;
}
.slider-info .slick-next{
  right:50%;
  margin-right:-80px;
}
.slider-info .slick-prev{
  left:50%;
  margin-left:-73px;
}
.slider-info .left, 
.slider-info .right{
  display:table-cell;
  vertical-align: top;
}
.slider-info .left img{
  margin:0 2% 0 0;
  max-width:98%;
  display: block;
}
.slider-info .right{
  width:48%;
  margin: 0 0 0 2%;
  padding:50px 10px 20px 39px;
  background:#fff;
}
.slider-info .title-line{
  text-transform: none;
  text-align:left;
  margin:0 0 23px;
  color:#484848;  
  position: relative;
  padding: 0 0 15px;
}
.slider-info .title-line:after{
  position: absolute;
  content:"";
  bottom: 0;
  left:0; 
  height:4px; 
  width:70%;
  margin:0;
  background:#ffb400;
}
/*CONTACTS*/
.contacts-wrapper{
  background:#fff;
  padding:30px 0 50px;
}
.contacts-box{
  float: left;
  width:40%;
}
.contacts-box-form{
  float: right;
  width:56%;
  margin-left:4%;
}
.contacts-wrapper .title-line{
  text-transform:none;
  text-align:left;
  margin:0 0 25px;
}
.contact-list{
  list-style:none;
  padding:0;
  margin:0;
}
.contact-list li{
  display:block;
  margin-bottom:9px;
  position: relative;
  min-height: 66px;
  -webkit-transition:all .2s ease-out; 
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.contact-list span{
  display:inline-block;
  vertical-align:top;
}
.icon-wr{
  position: absolute;
  top:0;
  left:0;
  width:66px;
  height:66px;
  background:#fff;
  border:3px solid #ffb400;
  -webkit-border-radius:50%;
     -moz-border-radius:50%;
          border-radius:50%;
  color:#ffb400;
  text-align:center;
}
.contact-list li:hover .icon-wr{
  background:#ffb400;
  color:#fff;
}
.icon-wr i{
  display:inline-block;
  vertical-align:top;
  margin-top:15px;
  font-size:30px;
  line-height:30px;
}
.icon-wr i.fa-envelope{
  font-size:18px;
  line-height:18px;
  margin-top:21px;
}
.contact-item{
  font-size:18px;
  line-height:24px;
  letter-spacing:0.25px;
  color:#a1a1a1;
  margin:21px 0 0 76px;
}
.subtitle{
  color:#a1a1a1;
  letter-spacing:0.25px;
  line-height:24px;
  margin-bottom:25px;
}
.contact-form .input-wrapper{
  width:100%;
  margin-bottom:18px;
}
.contact-form .input-wrapper .place{
  background:#f2f2f2;
  color:#000;
  padding:8px 22px;
  font-size:14px;
  line-height:24px;
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(226,226,226,0);
  -moz-box-shadow: 0px 0px 0px 0px rgba(226,226,226,0);
  box-shadow: 0px 0px 0px 0px rgba(226,226,226,0);
}
.contact-form .place::-webkit-input-placeholder{
  color:#b8b8b8;
  line-height:24px;
}
.contact-form .place:-moz-placeholder{
  color:#b8b8b8;
  line-height:24px;
}
.contact-form .place::-moz-placeholder{
  color:#b8b8b8;
  line-height:24px;
}
.contact-form .place:-ms-input-placeholder{
  color:#b8b8b8;
  line-height:24px;
}
.contact-form label.error{
  bottom: -15px;
}
.contact-form .input-wrapper.submit{
  margin:0 auto 18px;
}
.contact-form .contact_submit{
  position:relative;
  width:160px;
  text-transform:uppercase;
  text-align:center;
  line-height:40px;
  -webkit-box-shadow: 0px 3px 0px 0px #946800;
     -moz-box-shadow: 0px 3px 0px 0px #946800;
          box-shadow: 0px 3px 0px 0px #946800;
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.input-wrapper .contact_submit:hover{
  -webkit-box-shadow: 0px 2px 0px 0px #946800;
     -moz-box-shadow: 0px 2px 0px 0px #946800;
          box-shadow: 0px 2px 0px 0px #946800;
  top:1px;
}
.input-wrapper .contact_submit:active{
  -webkit-box-shadow: 0px 0px 0px 0px #946800;
     -moz-box-shadow: 0px 0px 0px 0px #946800;
          box-shadow: 0px 0px 0px 0px #946800;
  top:3px;
}
/*END CONTACTS*/
/*Header title*/
.bg-header{
  padding:150px 0 150px;
}
.bg-header h1{
  display:inline-block;
  vertical-align:top;
  margin:0;
  min-width:450px;
  padding:35px 15px;
  color:#fff;
  font:700 50px/1 Tahoma, Geneva, sans-serif;
  text-align:center;
  background:#ffb400;
  -webkit-border-radius:4px;
     -moz-border-radius:4px;
          border-radius:4px;
}
/*END Header title*/
/*Service wrapper*/
.services-wrapper{
  padding:32px 0; 
}
.item, .item-3{
  display:inline-block;
  vertical-align: top;
  padding:0 10px 0;
}
.item{
  margin:0 -2px 40px;
  width:50%;
}
.item-3{
  margin:0 -2px 45px;
  width:33%;
  text-align:center;
}
.img-lnk{
  display: block;
  margin: 0 auto 10px;
  overflow:hidden;
  position: relative;
}
.item-3 .img-lnk{
  max-width:400px;
}
.flag-sticker{
  position: absolute;
  top:20px;
  left:20px;
}
.img-lnk img{
  max-width:100%;
  display: block;
  margin:0 auto;
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
.img-lnk img.flag-sticker{
  -webkit-transition:none;
     -moz-transition:none;
       -o-transition:none;
          transition:none;
}
.item-3:hover .img-lnk img.flag-sticker{
  -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.item:hover .img-lnk img, 
.item-3:hover .img-lnk img{
  -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.title-lnk{
  display: block;
  margin:0 auto;
  text-align:center;
  max-width:450px;
  color:#221100;
  text-decoration:none;
  font:700 24px/36px "Open Sans", sans-serif;
}
.title-lnk:hover{
  color:#ffb400;
}
.item-3 .title-lnk{
  margin-bottom:10px;
}
.item-3 .title-lnk:hover{
  color:#221100;
}
.program_btn{
  width:100%;
  margin:0 auto;
  padding:0 30px 0;
  font:400 24px/68px "Open Sans", sans-serif;
  text-decoration:none;
  position: relative;
  max-width:400px;
}
.program_btn i{
  position: absolute;
  top:27px;
  right:25px;
  color:#fff;
  font-size:18px;
  line-height:1;
}
/* END Service wrapper*/
/*CRUISE FRAME*/
.cruise-frame{
  margin:0 auto 35px;
}
/*END CRUISE FRAME*/
/*Footer*/
.footer{
  background: #221100;
  padding:38px 0 20px;
  position: relative;
  z-index: 1;
}
.footer-wrap > *{
  float:left;
  width:30%;
  min-height:215px;
}
.footer-contact, .footer-info{
  margin:0 1% 0 2%;
}
.footer-title{
  color:#fff;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.25px;
  margin-bottom: 20px;
  padding-left:32px;
}
.footer-cont-list{
  list-style:none;
  margin:0;
  padding: 0;
}
.footer-cont-list li{
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin-bottom: 5px;
  color:#fff;
}
.footer-cont-list i{
  width:21px;
  text-align: center;
  margin-right:7px;
  color:#ffb400;
  font-size: 20px;
  line-height: 20px;
}
.footer-soc{
  margin:0 1% 0;
}
.soc-title{
  font-size: 18px;
  line-height: 18px;
  margin:15px 0;
  letter-spacing: 0.25px;
  color:#fff;
  text-align: center;
}
.footer-soc-list{
  margin:35px auto 0;
  padding: 0;
  text-align: center;
  list-style:none;
}
.footer-soc-list li{
  display: inline-block;
  vertical-align: top;
  margin:0 8px 0;
}
.footer-soc-list a{
  display: block;
}
.footer-soc-list i{
  font-size: 30px;
  line-height:30px;
  color:#fff;
}
.footer-info{
  text-align: center;
  color:#fff;
}
.footer-info .footer-title{
  padding-left:0px;
}
.subtitle-footer{
  color:#fff;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.25px;
  margin-bottom: 22px;
}
.question_btn.btn{
  margin:0;
  padding: 0 30px 0;
  line-height: 43px;
  font-size: 14px;
}
.copy{
  font-size: 12px;
  line-height: 14px;
  color:#fff;
  letter-spacing: 0.25px;
  text-align: center;
}
/*END FOOTER*/
@media screen and (max-width:1300px){
  .workflow .main-title{
    line-height:1;
    -webkit-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.57);
       -moz-text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.57);
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.57);}
  .round{
    border:2px solid #fff;
  }
  .round:hover{
    border:2px solid #ffb400;
  }
}
@media screen and (min-width:750px) and (max-width:1300px){
  .workflow{padding:35px 0 15px;}
  .workflow .main-title{
    font-size:24px;
    line-height:1;
    margin-bottom:60px;
  }
  .round{
    width:122px;
    height:122px;
    margin-bottom:105px;
  }
  .w25:after{
    top:60px;
  }
  .w25.first:after {
    right:-15%;
    left:85%;
  }
  .round img{
    width:54px;
    margin-top:32px;
  }
  .punkt-title{
    top:134px;
    left:-20px;
    right:-20px;
    font-size:11px;
    line-height:1.5;
    min-height: 90px;
  }
}
@media screen and (max-width:1100px){
  .menu-white, .logo{
    float:none;
    margin:0 auto 0;
    display: block;
    text-align: center;
  }
  .header{padding-top:80px;}
  .menu-white{
    position: absolute;
    top:0;
    left:0;
    right:0;
    background:#fff;
    padding:11px 0 17px;
  }
  .tel-num, .top-social a i{color:#b0b0b0;}
  .tel-num{font-size:18px;width:32%;}
  .tel-num i{margin-right:4px;}
  .call_btn.btn{padding:0 23px 0 10px;font-size:17px;max-width:227px;}
  .call_btn:after{
    right:6px;
  }
  .menu_btn{top:157px;}
  .main-menu{margin-top:171px;}
  .subscribe-b-form .input-wrapper input{
    line-height: 40px;
    font-size: 14px;
  }
  .subsc_submit.btn{
    font-size: 14px;
    line-height:40px;
  }
  .subscribe-b-form .place::-webkit-input-placeholder{
    font-size: 14px;
    line-height: 40px;
  }
  .subscribe-b-form .place:-moz-placeholder{
    font-size: 14px;
    line-height: 40px;
  }
  .subscribe-b-form .place::-moz-placeholder{
    font-size: 14px;
    line-height: 40px;
  }
  .subscribe-b-form .place:-ms-input-placeholder{
    font-size: 14px;
    line-height: 40px;
  }
  .w50{
    float:none;
    width:100%;
  }
}
@media screen and (min-width:600px) and (max-width:1100px){
  .menu-white > * {
    width: 31%;
    margin-right: 1%!important;
    margin-left: 0;
  }
  .error-page {
    padding:80px 0;
  }
  .bg-header {
    padding:115px 0 105px;
  }
  .bg-header h1{
    min-width:232px;
    padding:15px;
    font-size:30px;
    margin-left: 30px;
  }
  .title-lnk{
    font-size:20px;
    line-height:30px;
  }
  .item-3{
    margin-bottom:35px;
    width: 50%;
  }
  .program_btn{
    font-size:17px;
    line-height:56px;
  }
  .program_btn i{
    top:22px;
    right:9px;
    font-size:16px;
  }
}
@media screen and (min-width:520px) and (max-width:1100px){
  .contacts-box, 
  .contacts-box-form{
    width:49%;
  }
  .contacts-box{
    margin:0 1% 0 0;
  }
  .contacts-box-form{
    margin:0 0 0 1%;
  }
  .contacts-wrapper .title-line{
    font-size:18px;
    line-height:24px;
    margin-bottom:20px;
  }
  .contact-list li{
    min-height:50px;
  }
  .contact-item{
    font-size:14px;
    line-height:18px;
    margin:14px 0 0 57px;
  }
  .icon-wr{
    width:50px;
    height:50px;
    border:2px solid #ffb400;
  }
  .icon-wr i{
    margin-top:11px;
    font-size:24px;
    line-height:24px;
  }
  .icon-wr i.fa-envelope{
    font-size:14px;
    line-height:14px;
    margin-top:16px;
  }
  .subtitle {
    font-size:12px;
    line-height:18px;
    margin-bottom:15px;
  }
  .contact-form .submit{
    text-align:right;
  }
  .contact-form .contact_submit{
    line-height:32px;
    font-size:12px;
    width:148px;
  }
}
@media screen and (min-width:441px) and (max-width:1100px){
  .col-4{
    width:50%;
    margin-bottom:25px;
  }
  .section-title{
    font-size:14px;
    min-height:28px;
  }
  .section-descr{
    font-size:13px;
    line-height:18px;
    min-height:80px;
    max-width:270px;
    margin:0 auto;
  }
  .orange-lnk{font-size:14px;}
}
@media screen and (min-width:750px) and (max-width:930px){
  .slider-info .right{
    padding:15px 10px 10px 15px
  }
  .slider-info .title-line{
    padding: 0 0 5px;
    margin: 0 0 5px;
    font-size: 25px;
    line-height: 28px;
  }
  .slider-info p{
    margin:0;
    font-size:14px;
    line-height:15px;
  }
}
@media screen and (max-width:749px){
  .slider-info-wrapper{display:none;}
  .workflow{padding:30px 0 20px;}
  .workflow .main-title{
    font-size:14px;
    margin-bottom:25px;
  }
  .w25, .w25:last-child{
    display:block;
    width:100%;
    margin:0 auto!important;
  }
  .round{
    width:90px;
    height:90px;
    margin:0 auto 40px;
    position: static;
  }
  .w25:last-child .round{margin:0 auto;}
  .w25.first:after{
    top:96px;
    left:50%;
    margin-left:-1px;
    width:2px;
    right:auto;
    height:28px;
  }
  .round img{
    width:38px;
    margin-top:24px;
  }
  .punkt-title{
    top:32px;
    left:50%;
    right:auto;
    width:108px;
    margin:0 0 0 45px;
    font-size:9px;
    line-height:12px;
    text-align: center;
    min-height:auto;
  }
  .punkt-title:after{
    position: absolute;
    content:"";
    left:50%;
    margin-left:-26px;
    width:52px;
    height:2px;
    bottom:-5px;
    background:#fff;
  }
  .w25:nth-child(even) .punkt-title{
    left:auto;
    right:50%;
    margin:0 45px 0 0;
  }
  .w25:nth-child(2) .punkt-title{top:21px;} 
  .w25:nth-child(3) .punkt-title{top:25px;}
}
@media screen and (max-width:696px){
  .middle-size{display: none;}
  .footer-wrap > *{
    width:48%;
    margin:0 1% 10px;
  }
  .img-logo, 
  .school-description{
    float:none;
    width:100%;
    margin:0 auto 10px;
  }
}
@media screen and (min-width:441px) and (max-width:696px){
  .footer-wrap > *{
    min-height: 210px;
  }
  .wrapper{
    margin-bottom:-292px;
    padding-bottom:292px;
  }
  .inner-form{bottom:291px;}
}
@media screen and (max-width:599px){
  .call-wrapper{width:100%;float: none;}
  .call-wrapper:before{display: none;}
  .menu-white > * {
    width: 48%;
    margin-right: 0%!important;
    margin-left: 0;
  }
  .top-social{
    margin-top:15px;
  }
  .header{padding-top:120px;}
  .menu_btn{top:205px;left:5px;}
  .main-menu{margin-top:155px;}
  .subscribe-bottom{padding:35px 0 15px;}
  .subscribe-b-form .input-wrapper{
    display: block;
    width:80%;
    margin: 0 auto 25px;
  }
  .subscribe-b-form label.error{bottom:auto;top:43px;line-height:10px;}
  .inner-form{
    width:auto;
    padding: 53px 15px 28px;
    border:0px solid #c1c1c1;
    border-top:1px solid #c1c1c1;
    margin: 0 auto;
    left: 0;
    right:0;
    background: #fff;
  }
  .error-page {
    padding:20px 0;
  }
  .error-page .title{
    font-size:150px;
    line-height:150px;
  }
  .error-page .subtitle {
    font-size:25px;
    line-height:25px;
    margin-bottom:45px;
  }
  .error-btn.btn{
    width:200px;
    font-size:20px;
    line-height:40px;
  }
  .bg-header {
    padding: 134px 0 45px;
  }
  .bg-header h1{
    min-width:132px;
    padding:20px 10px;
    font-size:18px;
    margin-left:10px;
  }
  .item {
    margin:0 -2px 40px;
    width:100%;
  }
  .title-lnk{
    font-size:14px;
    line-height:19px;
  }
  .item-3{
    margin-bottom:20px;
    width:100%;
  }
  .program_btn{
    font-size:14px;
    line-height:36px;
  }
  .program_btn i{
    top:13px;
    right:19px;
    font-size:12px;
  }
}
@media screen and (max-width:519px){
  .contacts-wrapper{padding:15px 0 20px;}
  .contacts-wrapper .content{padding:0 22px;}
  .contacts-box, 
  .contacts-box-form{
    width:100%;
    margin:0 auto 15px;
  }
  .contacts-wrapper .title-line{
    font-size:14px;
    line-height:24px;
    margin-bottom:15px;
  }
  .contact-list li{
    min-height:44px;
  }
  .contact-item{
    font-size:11px;
    line-height:18px;
    margin:13px 0 0 51px;
  }
  .icon-wr{
    width:44px;
    height:44px;
    border:2px solid #ffb400;
  }
  .icon-wr i{
    margin-top:10px;
    font-size:20px;
    line-height:20px;
  }
  .icon-wr i.fa-envelope{
    font-size:10px;
    line-height:10px;
    margin-top:15px;
  }
  .subtitle {
    font-size:11px;
    line-height:14px;
    margin-bottom:20px;
  }
  .contact-form .submit{
    text-align:right;
  }
  .contact-form .contact_submit{
    line-height:26px;
    font-size:10px;
    width:114px;
  }
}
@media screen and (max-width:440px){
  .wrapper{
    margin-bottom:-257px;
    padding-bottom:257px;
  }
  .inner-form{bottom:257px;}
  .small-size{display: none;}
  .footer-wrap > *{
    width:100%;
    margin:0 0 10px;
  }
  .sections-wrapper{padding:18px 0 30px;}
  .col-4{
    width:100%;
    margin:0 auto 25px;
  }
  .section-title{
    font-size:12px;
    min-height:24px;
  }
  .section-descr{
    font-size:12px;
    min-height:80px;
    max-width:260px;
    margin:0 auto;
  }
  .orange-lnk{font-size:12px;}
}
@media screen and (max-width:390px){
  .tel-num{font-size:14px;}
  .call_btn.btn{padding:0 17px 0 5px;font-size:14px;}
  .call_btn:after{right:2px;}
}