img{
	display: block;
	width:100%;
	margin:0 auto;
}
.cards{
	display:-ms-grid;
	display:grid;
	-ms-grid-gap:20px;
	grid-gap:20px;
	// grid-template-columns:repeat(auto-fill, minmax(200px,1fr));
	// grid-auto-rows:200px;
	// grid-template-columns:  [side-start] 1fr
	// 						[main-start] 1fr 1fr
	// 						[main-end];
	// grid-template-rows:		[main-start] 1fr 1fr
	// 						[main-end];
	-ms-grid-template-columns: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
	// grid-template-rows: 200px 200px;
	-ms-grid-template-areas:   "side1 main main"
							"side2 main main";
	grid-template-areas:   "side1 main main"
							"side2 main main";
	.item{
		// overflow:hidden;
	}
	.item:nth-child(1){
		// grid-column-start:2;
		// grid-column-end:4;
		// grid-row-start:1;
		// grid-row-end:3;
		// grid-column:2/4;
		// grid-row:1/3;
		// grid-area:1/2/3/4; // row-start/column-start/row-end/column-end
		// grid-column:main-start/main-end;
		// grid-row:main-start/main-end;
		// grid-area:main;
		-ms-grid-area:1/2/3/4;
		grid-area:1/2/3/4;
	}
	.item:nth-child(2){
		-ms-grid-area:side1;
	}
	.item:nth-child(3){
		-ms-grid-area:side2;
		grid-area:side2;
	}
	.item:nth-child(4){
		-ms-grid-area:3/1/5/3;
		grid-area:3/1/5/3;
	}
}