@media print{
  .wrapper.summary-full{
    width:1000px;
    .main{
      .content{
        padding:0;
        min-height:294mm;
      }
      .media-box{
        display:table;
        width:100%;
        .media-box-item{
          display:table-row;
          margin-bottom:0;
          & > div{
            display:table-cell;
            vertical-align:top;
          }
        }
        img{
          height:51mm;
        }
      }
      .description{
        font-size:16px;
        line-height:1.4;
      }
    }
  }
}