/* src/styles.scss */
:root {
  --accent-400: #156FF4;
  --accent-500: #146EF4;
  --accent-600: #125FD0;
  --accent-400-contrast: #fff;
  --accent-400-contrast-secondary: rgba(255, 255, 255, 0.50);
  --accent-500-contrast: #fff;
  --accent-600-contrast: #fff;
  --f-base: #000;
  --f-text: #2D2D2D;
  --f-secondary-text: rgba(45, 45, 45, 0.50);
  --f-third-text: rgba(45, 45, 45, 0.25);
  --f-fourth-text: rgba(45, 45, 45, 0.1);
  --f-disabled: rgba(0, 0, 0, .30);
  --f-divider: rgba(0, 0, 0, .1);
  --f-line: #c6c6c6;
  --b-card: #fff;
  --b-header: rgba(255, 255, 255, .8);
  --b-card-secondary: rgba(237, 239, 249, 0.50);
  --b-bg: #EDEFF9;
  --b-hover: #cccccc;
  --b-focus: #c2c2c2;
  --b-disabled: rgba(0, 0, 0, .06);
  --b-chips: rgba(45, 45, 45, .05);
  --b-technology: #2D2D2D;
  --b-footer-link-bg: rgba(255,255,255,.1);
  --b-footer-link-bg-hover: rgba(255,255,255,.05);
  --b-toaster-bg: rgba(45, 45, 45, .8);
  --d-color-first-500: #7761ff;
  --d-color-first-600: #AC14F4;
  --d-color-second-500: #41D4A8;
  --d-color-second-600: #14F438;
  --menu-shadow: 0px 4px 10px rgba(0, 0, 0, .1);
  --block-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
  --box-shadow: 0px 0px 16px 0px rgba(45, 45, 45, 0.07);
  --vertical-shadow: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  --carousel-shadow: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  --font-global: "Rubik", sans-serif;
  --font-titles: "ClashDisplay", sans-serif;
}
html.dark {
  --f-base: rgba(255, 255, 255, 1);
  --f-text: rgba(255, 255, 255, .9);
  --f-secondary-text: rgba(255, 255, 255, .56);
  --f-third-text: rgba(255, 255, 255, .28);
  --f-fourth-text: rgba(255, 255, 255, 0.1);
  --f-disabled: rgba(255, 255, 255, .3);
  --f-divider: rgba(225, 225, 225, .12);
  --f-line: #444444;
  --b-card: #424242;
  --b-card-secondary: rgba(0, 0, 0, 0.50);
  --b-header: rgba(0, 0, 0, .4);
  --b-bg: #303030;
  --b-hover: #222222;
  --b-focus: #181818;
  --b-disabled: rgba(0, 0, 0, .06);
  --b-chips: rgba(255, 255, 255, .05);
  --b-technology: #000000;
  --b-footer-link-bg: rgba(0,0,0,.1);
  --b-footer-link-bg-hover: rgba(0,0,0,.05);
  --b-toaster-bg: rgba(255, 255, 255, .8);
}
@font-face {
  font-family: "ClashDisplay";
  src: url(/assets/fonts/ClashDisplay.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
html,
body {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: visible !important;
  overscroll-behavior-y: none;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-global);
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
*:focus-visible {
  outline: none;
}
button,
input[type=email],
input[type=tel],
input[type=text],
input[type=password],
input[type=image],
input[type=submit],
input[type=button],
input[type=search],
textarea {
  font-family: var(--font-global);
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}
.fxch-button::-moz-focus-inner,
.fxch-button:active,
.fxch-button:focus,
.fxch-icon-button::-moz-focus-inner,
.fxch-icon-button:active,
.fxch-icon-button:focus,
.fxch-stroked-button::-moz-focus-inner,
.fxch-stroked-button:active,
.fxch-stroked-button:focus,
.fxch-flat-button::-moz-focus-inner,
.fxch-flat-button:active,
.fxch-flat-button:focus {
  outline: none;
  -moz-outline-style: none;
}
.fxch-divider--horizontal {
  border-top-width: 1px;
  border-top-style: solid;
}
.fxch-divider--vertical {
  border-left-width: 1px;
  border-left-style: solid;
}
html:not([data-useragent*=Macintosh]) body:not(.is-mobile) .fxch-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}
html:not([data-useragent*=Macintosh]) body:not(.is-mobile) .fxch-scroll::-webkit-scrollbar:vertical {
  width: 17px;
}
html:not([data-useragent*=Macintosh]) body:not(.is-mobile) .fxch-scroll::-webkit-scrollbar:horizontal {
  height: 17px;
}
html:not([data-useragent*=Macintosh]) body:not(.is-mobile) .fxch-scroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border-width: 3px;
  border-style: solid;
  transition: background-color 0.5s cubic-bezier(0.35, 0, 0.25, 1), border-color 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}
body {
  color: var(--f-base);
  background-color: var(--b-bg);
}
a {
  color: var(--accent-500);
}
a:hover {
  color: var(--accent-600);
}
.fxch-divider--horizontal {
  border-top-color: var(--f-divider);
}
.fxch-divider--vertical {
  border-left-color: var(--f-divider);
}
html:not([data-useragent*=Macintosh]) body:not(.is-mobile) .fxch-scroll::-webkit-scrollbar-thumb {
  border-color: var(--b-card);
  background-color: var(--b-hover);
}
html:not([data-useragent*=Macintosh]) body:not(.is-mobile) .fxch-scroll--accent::-webkit-scrollbar-thumb {
  background-color: var(--accent-400);
}
html:not([data-useragent*=Macintosh]) body:not(.is-mobile) .fxch-scroll--accent::-webkit-scrollbar-thumb:hover {
  background-color: var(--accent-600);
}
.cdk-overlay-container,
.cdk-global-overlay-wrapper {
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.cdk-overlay-container {
  position: fixed;
  overflow: hidden;
  z-index: 2000;
}
.cdk-overlay-container:empty {
  display: none;
}
.cdk-global-overlay-wrapper {
  display: flex;
  position: absolute;
  z-index: 2000;
}
.cdk-overlay-pane {
  position: absolute;
  pointer-events: all;
  box-sizing: border-box;
  z-index: 2000;
  display: flex;
  max-width: 100%;
  max-height: 100%;
}
.cdk-overlay-backdrop {
  position: absolute;
  overflow: hidden;
  z-index: 2000;
  pointer-events: all;
  -webkit-tap-highlight-color: transparent;
  transition: opacity 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1;
}
.cdk-high-contrast-active .cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.6;
}
.cdk-overlay-connected-position-bounding-box {
  position: absolute;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  min-width: 1px;
  min-height: 1px;
  pointer-events: none;
}
.cdk-global-scrollblock {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}
html.cdk-global-scrollblock {
  overflow: visible;
}
.rp-redesign[data-useragent*="Mac OS"] .fxch-modal-opened .fxch-p-main {
  overflow: hidden;
}
.fxch-dropdown .cdk-dialog-container,
.fxch-dialog .cdk-dialog-container {
  min-width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 75vh;
  border-radius: 4px;
  overflow: auto;
  overscroll-behavior-y: none;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.fxch-dialog .cdk-dialog-container {
  max-width: 100%;
  padding: 20px 25px;
}
.fxch-menu-empty {
  padding: 5px 15px;
  -webkit-user-select: none;
  user-select: none;
}
.cdk-overlay-dark-backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}
.fxch-dropdown .cdk-dialog-container,
.fxch-dialog .cdk-dialog-container {
  background-color: var(--b-card);
  box-shadow: var(--menu-shadow);
}
.fxch-button .fxch-button.icon .fxch-icon {
  font-size: 27px;
}
.fxch-header-menu-modal .cdk-dialog-container {
  padding: 20px 0;
}
.fxch-header-menu-modal .fxch-header-menu-language-item:first-of-type .fxch-button {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.fxch-header-menu-modal .fxch-header-menu-language-item:last-of-type .fxch-button {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.fxch-header-menu-modal .fxch-header-menu-language-item .fxch-button {
  border-radius: 0;
}
.fxch-header-menu .fxch-button.fxch-button--icon {
  min-width: 44px;
  height: 44px;
}
.fxch-header-menu .fxch-button .fxch-button-icon {
  font-size: 22px;
}
.fxch-header-menu .fxch-button .fxch-button-icon-block {
  font-size: 22px;
}
.fxch-header-menu .fxch-button .fxch-button-icon-wrap {
  font-size: 30px;
}
.fxch-header-language-modal .fxch-header-language-item .fxch-button {
  display: flex;
  justify-content: flex-start;
  border-radius: 0;
  width: 100%;
}
.fxch-header-language-modal .fxch-header-language-item .fxch-button-text {
  text-transform: uppercase;
}
.fxch-about-card:hover .fxch-decor-circles-item {
  --translate: 12px;
}
@media screen and (max-width: 1270px) {
  .fxch-about-card:hover .fxch-decor-circles-item {
    --translate: 6px;
  }
}
.fxch-about-card:hover .fxch-decor-circles-item:nth-of-type(2) {
  transform: translateX(var(--translate));
}
.fxch-about-card:hover .fxch-decor-circles-item:nth-of-type(3) {
  transform: translateX(calc(var(--translate) * 2));
}
.fxch-about-card:hover .fxch-decor-circles-item:nth-of-type(4) {
  transform: translateX(calc(var(--translate) * 3));
}
.fxch-about-card:hover .fxch-decor-circles-item:nth-of-type(5) {
  transform: translateX(calc(var(--translate) * 4));
}
.fxch-about-card:hover .fxch-decor-ring {
  transform: rotateY(180deg);
}
.fxch-about-card:hover .fxch-decor-ring-to-square {
  border-radius: 0;
}
.fxch-technology-wrap .fxch-technology-action .fxch-button {
  display: flex;
  width: 100%;
  height: 68px;
}
.fxch-technology-wrap .fxch-technology-action .fxch-button {
  display: flex;
  width: 100%;
  height: 68px;
}
.fxch-team-header-actions-item--prev .fxch-button:not(.fxch-disabled):hover .fxch-button-icon-inner {
  transform: translateX(-1em) !important;
}
.fxch-team-header-actions-item--prev .fxch-button .fxch-button-icon-inner {
  transform: translateX(0);
}
.fxch-team-header-actions-item .fxch-button.fxch-button--icon {
  border-radius: 8px;
}
.fxch-partners-img path {
  transition: fill 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  will-change: fill;
}
.fxch-partners-img stop {
  transition: stop-color 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  will-change: stop-color;
}
.fxch-logo {
  --main-logo: var(--f-text);
  --accent-logo: var(--accent-500);
}
.fxch-button.fxch-disabled {
  color: var(--f-text);
  background-color: rgba(255, 255, 255, 0);
}
.fxch-button.fxch-disabled.fxch-button--accent {
  background-color: var(--b-disabled);
}
.fxch-button:not(.fxch-disabled) {
  background-color: rgba(255, 255, 255, 0);
  color: var(--f-base);
}
.fxch-button:not(.fxch-disabled).fxch-button--accent {
  color: var(--accent-500);
}
.fxch-button:not(.fxch-disabled).fxch-button--accent:hover {
  background-color: var(--b-hover);
}
.fxch-button:not(.fxch-disabled).fxch-button--accent.fxch-active {
  background-color: var(--b-hover);
}
.fxch-button:not(.fxch-disabled):hover {
  background-color: var(--b-hover);
}
.fxch-button:not(.fxch-disabled).fxch-active {
  background-color: var(--b-hover);
}
.fxch-button.fxch-button--flat:not(.fxch-disabled) {
  background-color: var(--b-bg);
  color: var(--f-text);
}
.fxch-button.fxch-button--flat:not(.fxch-disabled):hover {
  background-color: var(--b-hover);
}
.fxch-button.fxch-button--flat:not(.fxch-disabled).fxch-active {
  background-color: var(--b-hover);
}
.fxch-button.fxch-button--flat:not(.fxch-disabled).fxch-button--accent {
  background-color: var(--accent-500);
  color: var(--accent-500-contrast);
  box-shadow: 0px 10px 16px 0px rgba(255, 255, 255, 0.08) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset;
}
.fxch-button.fxch-button--flat:not(.fxch-disabled).fxch-button--accent:hover {
  background-color: var(--accent-600);
  color: var(--accent-600-contrast);
  box-shadow: 0px 10px 16px 0px rgba(255, 255, 255, 0) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0) inset;
}
.fxch-button.fxch-button--flat:not(.fxch-disabled).fxch-button--accent.fxch-active {
  background-color: var(--accent-600);
  color: var(--accent-600-contrast);
  box-shadow: 0px 10px 16px 0px rgba(255, 255, 255, 0) inset, 0px 1px 1px 0px rgba(255, 255, 255, 0) inset;
}
.fxch-button:not(.fxch-disabled) .fxch-button-icon {
  color: var(--f-text);
}
.fxch-button-text {
  color: currentColor;
}
.fxch-button-icon-wrap {
  background-color: rgba(8, 8, 8, 0.2);
}
.fxch-button:not(.fxch-button--default) .fxch-button-icon,
.fxch-button:not(.fxch-button--default) .fxch-button-trigger-icon {
  color: currentColor;
}
.fxch-checkbox-fake {
  background-color: var(--b-hover);
}
.fxch-checkbox-fake:before {
  border-bottom-color: var(--accent-500-contrast);
  border-left-color: var(--accent-500-contrast);
}
.fxch-checkbox-fake-wrap:after {
  background-color: var(--b-bg);
}
.fxch-checkbox-input:checked ~ .fxch-checkbox-fake-wrap:after {
  background-color: var(--accent-400);
}
.fxch-checkbox-input:checked ~ .fxch-checkbox-fake-wrap .fxch-checkbox-fake {
  background-color: var(--accent-500);
}
.fxch-checkbox .fxch-disabled .fxch-checkbox-fake {
  background-color: var(--b-disabled);
}
.fxch-checkbox .fxch-disabled .fxch-checkbox-text-wrap {
  color: var(--f-disabled);
}
.fxch-checkbox .fxch-disabled .fxch-checkbox-input:checked ~ .fxch-checkbox-fake-wrap .fxch-checkbox-fake {
  background-color: var(--accent-400);
}
.fxch-checkbox label:hover .fxch-checkbox-fake {
  background-color: var(--b-focus);
}
.fxch-tabs .fxch-tabs-item.fxch-tabs-item--active:not(.fxch-disabled) {
  color: var(--accent-500);
}
.fxch-tabs .fxch-tabs-item--stroked.fxch-tabs-item--active:not(.fxch-disabled) .fxch-tabs-item-icon {
  color: var(--accent-500);
}
.fxch-tabs .fxch-tabs-ink-bar {
  border-bottom-color: var(--accent-500);
}
.fxch-tabs--slash .fxch-tabs-item:not(.fxch-disabled):hover {
  background-color: var(--b-hover);
}
.fxch-tabs-wrap--slash {
  border-bottom-color: var(--f-divider);
}
.fxch-tabs-wrap:before,
.fxch-tabs-wrap:after {
  background-image: var(--vertical-shadow);
}
.fxch-tabs-item {
  background: rgba(0, 0, 0, 0);
}
.fxch-tabs-item.fxch-tabs-item--stroked {
  border-color: var(--f-divider);
}
.fxch-tabs-item.fxch-tabs-item--stroked:not(.fxch-disabled) .fxch-tabs-item-icon {
  color: var(--f-icon);
}
.fxch-tabs-item:not(.fxch-disabled) {
  color: var(--f-secondary-text);
}
.fxch-tabs-item:not(.fxch-disabled):hover {
  color: var(--f-text);
}
.fxch-tabs-item.fxch-disabled {
  color: var(--f-disabled);
}
.fxch-input {
  color: var(--f-base);
}
.fxch-input::-moz-placeholder {
  color: var(--f-disabled);
}
.fxch-input:-ms-input-placeholder {
  color: var(--f-disabled);
}
.fxch-input::-ms-expand {
  color: var(--f-disabled);
}
.fxch-input::-webkit-input-placeholder {
  color: var(--f-disabled);
}
.fxch-input:-webkit-autofill,
.fxch-input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px var(--b-card) inset;
}
.fxch-input-wrap--focus .fxch-input-clear:hover {
  background-color: var(--b-hover);
}
.fxch-input-wrap.fxch-input-wrap--fill {
  background-color: var(--b-bg);
  border-color: var(--b-bg);
}
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled) {
  background-color: var(--b-bg);
  border-color: var(--b-bg);
}
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):hover {
  background-color: var(--b-hover);
  border-color: var(--b-hover);
}
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):hover .fxch-input::-moz-placeholder {
  color: var(--f-secondary-text);
}
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):hover .fxch-input:-ms-input-placeholder {
  color: var(--f-secondary-text);
}
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):hover .fxch-input::-ms-expand {
  color: var(--f-secondary-text);
}
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):hover .fxch-input::-webkit-input-placeholder {
  color: var(--f-secondary-text);
}
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):hover .fxch-input-label,
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):hover .fxch-input-icon,
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):hover .fxch-input-clear,
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):hover .fxch-input-info,
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):focus .fxch-input-label,
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):focus .fxch-input-icon,
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):focus .fxch-input-clear,
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled):focus .fxch-input-info {
  color: var(--f-text);
}
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled).fxch-input-wrap--focus {
  background-color: var(--b-hover);
  border-color: var(--b-hover);
}
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled).fxch-input-wrap--focus .fxch-input-label,
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled).fxch-input-wrap--focus .fxch-input-icon,
.fxch-input-wrap.fxch-input-wrap--fill:not(.fxch-disabled).fxch-input-wrap--focus .fxch-input-clear {
  color: var(--f-text);
}
.fxch-input-wrap.fxch-input-wrap--fill ~ .fxch-input-hint {
  color: var(--f-text);
}
.fxch-input-wrap.fxch-input-wrap--outline {
  background-color: var(--b-card);
  border-color: var(--f-divider);
}
.fxch-input-wrap.fxch-input-wrap--outline:not(.fxch-disabled):hover,
.fxch-input-wrap.fxch-input-wrap--outline:not(.fxch-disabled).fxch-input-wrap--focus {
  border-color: var(--f-text);
}
.fxch-input-wrap.fxch-input-wrap--outline:not(.fxch-disabled):hover .fxch-input-label,
.fxch-input-wrap.fxch-input-wrap--outline:not(.fxch-disabled).fxch-input-wrap--focus .fxch-input-label {
  color: var(--f-text);
}
.fxch-input-wrap.fxch-input-wrap--outline .fxch-input-label-text {
  background-color: var(--b-card);
}
.fxch-input-wrap.fxch-input-wrap--error {
  border-color: var(--accent-500) !important;
}
.fxch-input-wrap.fxch-input-wrap--error .fxch-input-label {
  color: var(--accent-500) !important;
}
.fxch-input-wrap.fxch-disabled .fxch-input {
  color: var(--f-disabled);
}
.fxch-input-wrap.fxch-disabled .fxch-input::-moz-placeholder {
  color: var(--f-divider);
}
.fxch-input-wrap.fxch-disabled .fxch-input:-ms-input-placeholder {
  color: var(--f-divider);
}
.fxch-input-wrap.fxch-disabled .fxch-input::-ms-expand {
  color: var(--f-divider);
}
.fxch-input-wrap.fxch-disabled .fxch-input::-webkit-input-placeholder {
  color: var(--f-divider);
}
.fxch-input-wrap.fxch-disabled .fxch-input-label {
  color: var(--f-divider);
}
.fxch-input-wrap.fxch-disabled .fxch-input-icon,
.fxch-input-wrap.fxch-disabled .fxch-input-clear {
  color: var(--f-disabled);
}
.fxch-input-icon,
.fxch-input-clear,
.fxch-input-label {
  color: var(--f-secondary-text);
}
.fxch-input-clear {
  background-color: transparent;
}
.fxch-input-clear:hover {
  background-color: var(--b-hover);
}
.fxch-input-hint {
  color: var(--f-disabled);
}
.fxch-textarea {
  color: var(--f-base);
}
.fxch-textarea::-moz-placeholder {
  color: var(--f-disabled);
}
.fxch-textarea:-ms-input-placeholder {
  color: var(--f-disabled);
}
.fxch-textarea::-ms-expand {
  color: var(--f-disabled);
}
.fxch-textarea::-webkit-input-placeholder {
  color: var(--f-disabled);
}
.fxch-textarea:-webkit-autofill,
.fxch-textarea:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px var(--b-card) inset;
}
.fxch-textarea-wrap.fxch-textarea-wrap--fill {
  background-color: var(--b-bg);
  border-color: var(--b-bg);
}
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled) {
  background-color: var(--b-bg);
  border-color: var(--b-bg);
}
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):hover {
  background-color: var(--b-hover);
  border-color: var(--b-hover);
}
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):hover .fxch-textarea::-moz-placeholder,
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):focus .fxch-textarea::-moz-placeholder {
  color: var(--f-text);
}
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):hover .fxch-textarea:-ms-input-placeholder,
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):focus .fxch-textarea:-ms-input-placeholder {
  color: var(--f-text);
}
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):hover .fxch-textarea::-ms-expand,
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):focus .fxch-textarea::-ms-expand {
  color: var(--f-text);
}
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):hover .fxch-textarea::-webkit-input-placeholder,
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):focus .fxch-textarea::-webkit-input-placeholder {
  color: var(--f-text);
}
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):hover .fxch-textarea-label,
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled):focus .fxch-textarea-label {
  color: var(--f-text);
}
.fxch-textarea-wrap.fxch-textarea-wrap--fill:not(.fxch-disabled).fxch-textarea-wrap--focus {
  background-color: var(--b-hover);
  border-color: var(--b-hover);
}
.fxch-textarea-wrap.fxch-textarea-wrap--fill ~ .fxch-textarea-hint {
  color: var(--f-text);
}
.fxch-textarea-wrap.fxch-textarea-wrap--outline {
  background-color: var(--b-card);
  border-color: var(--f-divider);
}
.fxch-textarea-wrap.fxch-textarea-wrap--outline:not(.fxch-disabled):hover,
.fxch-textarea-wrap.fxch-textarea-wrap--outline:not(.fxch-disabled).fxch-textarea-wrap--focus {
  border-color: var(--f-text);
}
.fxch-textarea-wrap.fxch-textarea-wrap--outline:not(.fxch-disabled):hover .fxch-textarea-label,
.fxch-textarea-wrap.fxch-textarea-wrap--outline:not(.fxch-disabled).fxch-textarea-wrap--focus .fxch-textarea-label {
  color: var(--f-text);
}
.fxch-textarea-wrap.fxch-textarea-wrap--outline .fxch-textarea-label-text {
  background-color: var(--b-card);
}
.fxch-textarea-wrap.fxch-textarea-wrap--error {
  border-color: var(--accent-500) !important;
}
.fxch-textarea-wrap.fxch-textarea-wrap--error .fxch-textarea-label {
  color: var(--accent-500) !important;
}
.fxch-textarea-wrap.fxch-disabled .fxch-textarea {
  color: var(--f-disabled);
}
.fxch-textarea-wrap.fxch-disabled .fxch-textarea::-moz-placeholder {
  color: var(--f-divider);
}
.fxch-textarea-wrap.fxch-disabled .fxch-textarea:-ms-input-placeholder {
  color: var(--f-divider);
}
.fxch-textarea-wrap.fxch-disabled .fxch-textarea::-ms-expand {
  color: var(--f-divider);
}
.fxch-textarea-wrap.fxch-disabled .fxch-textarea::-webkit-input-placeholder {
  color: var(--f-divider);
}
.fxch-textarea-wrap.fxch-disabled .fxch-textarea-label {
  color: var(--f-divider);
}
.fxch-textarea-label {
  color: var(--f-secondary-text);
}
.fxch-textarea-hint {
  color: var(--f-disabled);
}
.fxch-header {
  border-color: var(--f-divider);
  background-color: var(--b-header);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}
.fxch-header-logo {
  background-color: var(--f-text);
}
.fxch-header-logo-img .fxch-logo {
  --main-logo: var(--b-card);
}
.fxch-header-divider {
  background-color: var(--f-divider);
}
.fxch-header-nav-link {
  color: var(--f-secondary-text);
}
.fxch-header-nav-link:hover {
  color: var(--f-text);
}
.fxch-header-nav-link.fxch-header-nav-link--active {
  color: var(--f-text);
}
.fxch-header-menu-dropdown {
  background-color: var(--b-card);
  box-shadow: var(--block-shadow);
}
.fxch-header-menu-language-item .fxch-button.fxch-disabled.fxch-active {
  background-color: var(--accent-500);
  color: var(--accent-500-contrast);
}
.fxch-header-menu .fxch-button .fxch-button-icon-wrap {
  background-color: transparent;
}
.fxch-header-language {
  background-color: var(--accent-500-contrast);
  border-color: var(--accent-500);
  color: var(--accent-500);
}
.fxch-header-language:hover {
  background-color: var(--accent-500);
  color: var(--accent-500-contrast);
}
.fxch-header-language.fxch-header-language--active {
  background-color: var(--accent-600);
  color: var(--accent-600-contrast);
}
.fxch-header-language-dropdown {
  background-color: var(--b-card);
  box-shadow: var(--block-shadow);
}
.fxch-header-theme {
  color: var(--f-text);
}
.fxch-header-theme:hover {
  color: var(--accent-500);
}
.fxch-promo-title,
.fxch-promo-text {
  color: var(--f-text);
}
.fxch-promo-decoration-block {
  border-color: var(--b-bg);
  border-color: var(--accent-500);
  box-shadow: 0px 0px 34.654px 0px rgba(20, 110, 244, 0.4);
}
.fxch-promo-decoration-block:hover {
  box-shadow: 0px 0px 0px 0px rgba(20, 110, 244, 0.4);
}
.fxch-promo-decoration-block-icon {
  color: var(--f-text);
}
.fxch-decor-circles-item {
  background-color: var(--f-text);
}
.fxch-decor-ring {
  border-color: var(--f-text);
}
.fxch-decor-ring-to-square {
  border-color: var(--f-text);
}
.fxch-about-card {
  background-color: var(--b-bg);
  box-shadow: 0px 0px 0px 0px rgba(45, 45, 45, 0.25);
}
.fxch-about-card:hover {
  background-color: var(--b-card);
  box-shadow: 0px 0px 60px 0px rgba(45, 45, 45, 0.25);
}
.fxch-about-card--first:hover .fxch-about-card-block:after {
  background-color: var(--accent-500);
}
.fxch-about-card--second:hover .fxch-about-card-block:after {
  background-color: var(--d-color-first-500);
}
.fxch-about-card--third:hover .fxch-about-card-block:after {
  background-color: var(--d-color-second-500);
}
.fxch-about-card-block {
  border-color: var(--f-divider);
}
.fxch-about-card-block:after {
  background-color: rgba(0, 0, 0, 0);
}
.fxch-about-card-body-title {
  color: var(--f-text);
}
.fxch-about-card-body-text {
  color: var(--f-secondary-text);
}
.fxch-technology-wrap {
  background-color: var(--b-technology);
}
.fxch-technology-wrap--end {
  background-color: var(--b-bg);
}
.fxch-technology .fxch-technology-first .fxch-technology-panel {
  color: var(--b-card-secondary);
  background-color: var(--f-text);
}
.fxch-technology .fxch-technology-first .fxch-technology-title {
  color: var(--b-card);
}
.fxch-technology .fxch-technology-second .fxch-technology-panel {
  color: var(--accent-400-contrast-secondary);
  background-color: var(--accent-400);
}
.fxch-technology .fxch-technology-second .fxch-technology-title {
  color: var(--accent-400-contrast);
}
.fxch-horizontal-text {
  color: var(--accent-500);
}
.fxch-benefits-info-title {
  color: var(--f-text);
}
.fxch-benefits-info-list-item:nth-of-type(2) .fxch-benefits-info-list-item-marker:after {
  background-color: var(--d-color-first-600);
}
.fxch-benefits-info-list-item:nth-of-type(3) .fxch-benefits-info-list-item-marker:after {
  background-color: var(--d-color-second-600);
}
.fxch-benefits-info-list-item-marker {
  background-color: var(--b-card);
  box-shadow: var(--box-shadow);
}
.fxch-benefits-info-list-item-marker:after {
  background-color: var(--accent-500);
}
.fxch-benefits-info-list-item-text {
  color: var(--f-text);
}
.fxch-benefits-decoration {
  border-color: var(--f-divider);
  background-color: var(--b-card);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}
.fxch-team-header-title {
  color: var(--f-secondary-text);
}
.fxch-team-header-actions-item .fxch-button:not(.fxch-disabled).fxch-button--flat {
  background-color: var(--b-card);
}
.fxch-team-header-actions-item .fxch-button:not(.fxch-disabled).fxch-button--flat:hover {
  background-color: var(--b-hover);
}
.fxch-team-header-actions-item .fxch-button.fxch-disabled.fxch-button--flat {
  background-color: var(--b-disabled);
}
.fxch-team-header-actions-item .fxch-button .fxch-button-icon-wrap {
  background-color: transparent;
}
.fxch-team-card {
  background-color: var(--b-card);
}
.fxch-team-card-default {
  background-color: var(--b-card);
}
.fxch-team-card-default-logo .fxch-logo {
  --main-logo: var(--f-secondary-text);
  --accent-logo: var(--f-third-text);
}
.fxch-team-card-default-header-name {
  color: var(--f-text);
}
.fxch-team-card-default-header-job-title {
  color: var(--f-secondary-text);
}
.fxch-team-card-default-footer-item {
  background-color: var(--b-chips);
  color: var(--f-text);
}
.fxch-team-card-block {
  background-color: rgba(45, 45, 45, 0.8);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.fxch-team-card-header-name {
  color: #fff;
}
.fxch-team-card-header-job-title {
  color: rgba(255, 255, 255, 0.5);
}
.fxch-team-card-footer-item {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.fxch-partners-title {
  color: var(--f-secondary-text);
}
.fxch-partners-box {
  --p-main: var(--f-secondary-text);
  --p-a: var(--f-secondary-text);
  --p-blocking: var(--f-secondary-text);
  --p-vultr: var(--f-secondary-text);
  --p-vultr1: var(--f-secondary-text);
  --p-vultr2: var(--f-secondary-text);
  --p-vultr3: var(--f-secondary-text);
  --p-vultr4: var(--f-secondary-text);
  --p-nulink: var(--f-secondary-text);
  --p-t-trader: var(--f-secondary-text);
  --p-t-trader1: var(--f-secondary-text);
  --p-t-trader2: var(--f-secondary-text);
  --p-c-star: var(--f-secondary-text);
  --p-c-star1: var(--f-secondary-text);
  --p-c-star2: var(--f-secondary-text);
  --p-c-star3: var(--f-secondary-text);
  --p-c-star4: var(--f-secondary-text);
  --p-c-star5: var(--f-secondary-text);
  --p-c-star6: var(--f-secondary-text);
  --p-c-star7: var(--f-secondary-text);
  --p-c-star8: var(--f-secondary-text);
  --p-c-star9: var(--f-secondary-text);
  --p-c-star10: var(--f-secondary-text);
  --p-c-star11: var(--f-secondary-text);
  --p-c-star12: var(--f-secondary-text);
  --p-c-star13: var(--f-secondary-text);
  --p-c-star14: var(--f-secondary-text);
  --p-c-star15: var(--f-secondary-text);
  --p-c-star16: var(--f-secondary-text);
  --p-c-star17: var(--f-secondary-text);
  --p-c-star18: var(--f-secondary-text);
  --p-c-star19: var(--f-secondary-text);
  --p-aws: var(--f-secondary-text);
  --p-aws1: var(--f-secondary-text);
}
.fxch-partners-img:hover {
  --p-main: var(--f-text);
  --p-a: #4338CA;
  --p-blocking: #49DDF0;
  --p-vultr: #17244B;
  --p-vultr1: #D0F5FD;
  --p-vultr2: #51B8FE;
  --p-vultr3: #027BFB;
  --p-vultr4: #027BFB;
  --p-nulink: #333333;
  --p-t-trader: #D53636;
  --p-t-trader1: #2D2D2D;
  --p-t-trader2: #F1B82B;
  --p-c-star: #fff;
  --p-c-star1: #1D2087;
  --p-c-star2: #1C258B;
  --p-c-star3: #193395;
  --p-c-star4: #1449A7;
  --p-c-star5: #0C6ABF;
  --p-c-star6: #0392DE;
  --p-c-star7: #009FE8;
  --p-c-star8: #fff;
  --p-c-star9: #00B8EE;
  --p-c-star10: #0ABBEF;
  --p-c-star11: #25C2F0;
  --p-c-star12: #50CEF3;
  --p-c-star13: #8CDFF7;
  --p-c-star14: #D9F4FC;
  --p-c-star15: #00B6ED;
  --p-c-star16: #0CB9EE;
  --p-c-star17: #2DC3F0;
  --p-c-star18: #61D2F4;
  --p-c-star19: #AAE7F9;
  --p-aws: #282F3D;
  --p-aws1: #EB9E3F;
}
html.dark .fxch-partners-img:hover {
  --p-vultr: #027BFB;
  --p-nulink: var(--f-text);
  --p-t-trader1: var(--f-text);
  --p-aws: #8b9bbc;
}
.fxch-news-chips-item {
  background-color: var(--b-chips);
  color: var(--f-text);
}
.fxch-news-card {
  background-color: var(--b-bg);
  box-shadow: 0px 0px 0px 0px rgba(45, 45, 45, 0.25);
}
.fxch-news-card:hover {
  background-color: var(--b-card);
  box-shadow: 0px 0px 60px 0px rgba(45, 45, 45, 0.25);
}
.fxch-news-card--first:hover .fxch-news-card-block:after {
  background-color: var(--accent-500);
}
.fxch-news-card--second:hover .fxch-news-card-block:after {
  background-color: var(--d-color-first-500);
}
.fxch-news-card--third:hover .fxch-news-card-block:after {
  background-color: var(--d-color-second-500);
}
.fxch-news-card-block {
  border-color: var(--f-divider);
}
.fxch-news-card-block:after {
  background-color: rgba(0, 0, 0, 0);
}
.fxch-news-card-body-title {
  color: var(--f-text);
}
.fxch-news-card-body-text {
  color: var(--f-secondary-text);
}
.fxch-news-card-icon {
  color: var(--f-text);
}
.fxch-footer-content {
  background-color: var(--f-text);
  color: var(--b-card);
}
.fxch-footer-logo-img .fxch-logo {
  --main-logo: var(--b-card);
}
.fxch-footer-bottom {
  color: var(--b-card-secondary);
}
.fxch-footer-contacts-link {
  color: var(--b-card);
}
.fxch-footer-contacts-link:hover {
  color: var(--b-card);
}
.fxch-footer-contacts-link:hover .fxch-footer-contacts-link-icon {
  color: var(--b-card-secondary);
}
.fxch-footer-contacts-link-icon {
  color: var(--b-card-secondary);
}
.fxch-footer-contacts-copy {
  background-color: var(--b-footer-link-bg);
  color: var(--b-card);
}
.fxch-footer-contacts-copy:hover {
  background-color: var(--b-footer-link-bg-hover);
}
.fxch-footer-contacts-label {
  color: var(--b-card);
  background-color: var(--b-toaster-bg);
  border-color: var(--f-divider);
}
.fxch-footer-additional-item {
  color: var(--b-card);
  border-color: var(--b-card);
  background-color: rgba(0, 0, 0, 0);
}
.fxch-footer-additional-item:hover {
  color: var(--f-text);
  background-color: var(--b-card);
}
.fxch-contact-form-wrap {
  background-color: var(--b-bg);
}
.fxch-contact-info-wrap {
  background-color: var(--accent-500);
}
.fxch-contact-info-title,
.fxch-contact-info-text,
.fxch-contact-info-link {
  color: var(--accent-500-contrast);
}
.fxch-contact-info-link:hover {
  color: var(--accent-500-contrast);
}

/* angular:styles/global:styles */
/*# sourceMappingURL=styles-YGO7AYHK.css.map */
