.wrapper.summary-showsheet .main .content {
  padding: 0 30px;
  min-height: 803px; }
.wrapper.summary-showsheet .main-table {
  font-size: 12px !important;
  line-height: 1.2; }
  .wrapper.summary-showsheet .main-table .empty-row {
    font-size: 5px !important;
    line-height: 5px; }
.wrapper.summary-showsheet td {
  padding: 2px 3px; }
.wrapper.summary-showsheet td, .wrapper.summary-showsheet th {
  vertical-align: top;
  color: #000; }
  .wrapper.summary-showsheet td *, .wrapper.summary-showsheet th * {
    color: #000; }
  .wrapper.summary-showsheet td.w2, .wrapper.summary-showsheet th.w2 {
    width: 2%; }
  .wrapper.summary-showsheet td.w3, .wrapper.summary-showsheet th.w3 {
    width: 3%; }
  .wrapper.summary-showsheet td.w4, .wrapper.summary-showsheet th.w4 {
    width: 4%; }
  .wrapper.summary-showsheet td.w5, .wrapper.summary-showsheet th.w5 {
    width: 5%; }
  .wrapper.summary-showsheet td.w6, .wrapper.summary-showsheet th.w6 {
    width: 6%; }
  .wrapper.summary-showsheet td.w7, .wrapper.summary-showsheet th.w7 {
    width: 7%; }
  .wrapper.summary-showsheet td.w8, .wrapper.summary-showsheet th.w8 {
    width: 8%; }
  .wrapper.summary-showsheet td.w9, .wrapper.summary-showsheet th.w9 {
    width: 9%; }
  .wrapper.summary-showsheet td.w10, .wrapper.summary-showsheet th.w10 {
    width: 10%; }
  .wrapper.summary-showsheet td.w11, .wrapper.summary-showsheet th.w11 {
    width: 11%; }
  .wrapper.summary-showsheet td.w12, .wrapper.summary-showsheet th.w12 {
    width: 12%; }
  .wrapper.summary-showsheet td.w13, .wrapper.summary-showsheet th.w13 {
    width: 13%; }
  .wrapper.summary-showsheet td.w19, .wrapper.summary-showsheet th.w19 {
    width: 19%; }
  .wrapper.summary-showsheet td.w20, .wrapper.summary-showsheet th.w20 {
    width: 20%; }
  .wrapper.summary-showsheet td.w21, .wrapper.summary-showsheet th.w21 {
    width: 21%; }
.wrapper.summary-showsheet th {
  font-weight: 400;
  text-align: left; }
.wrapper.summary-showsheet thead tr.bottom-head th {
  padding-bottom: 5px;
  font-size: 14px; }
.wrapper.summary-showsheet thead tr th {
  padding: 5px 0 0;
  vertical-align: middle; }
  .wrapper.summary-showsheet thead tr th:nth-child(odd) {
    padding-left: 5px; }
  .wrapper.summary-showsheet thead tr th:nth-child(even) {
    padding-right: 5px; }
  .wrapper.summary-showsheet thead tr th.align-right {
    text-align: right; }
.wrapper.summary-showsheet .title, .wrapper.summary-showsheet .price {
  font-size: 16px; }
.wrapper.summary-showsheet .main-title .no-print a {
  display: inline-block;
  margin-left: 10px; }
.wrapper.summary-showsheet .main-title .no-print a + a {
  position: relative;
  margin-left: 8px; }
  .wrapper.summary-showsheet .main-title .no-print a + a:before {
    position: absolute;
    display: block;
    content: '|';
    left: -7px;
    top: 0; }
.wrapper.summary-showsheet .top-line {
  background: #a9a9a9; }

@media print {
  .wrapper.summary-showsheet .main {
    font-size: 14px;
    line-height: 17px; }
    .wrapper.summary-showsheet .main .content {
      min-height: 221mm;
      max-width: none;
      padding: 0;
      margin: 0; }
  .wrapper.summary-showsheet .main-table:last-child {
    border-bottom: none; }
  .wrapper.summary-showsheet .main-table .empty-row {
    font-size: 14px !important;
    line-height: 17px !important; } }

/*# sourceMappingURL=styles.css.map */
