.media-wrap{
	position:relative;
	.slider-head{
		background:#000;
		padding:10px 0;
		font-size:18px;
		@include bp(m){
			padding:5px 0;
		}
		.info{
			margin:0 auto;
			padding:0 15px;
			@include bp(m){
				text-align:center;
			}
			@include bp(xsl){
				position:relative;
				text-align:right;
			}
		}
		.title{
			width:60%;
			@include bp(m){
				float:none;
				width:100%;
				padding:0 20px;
				font-size:22px;
				line-height:1.2;
			}
			@include bp(xs){
				text-align:center;
				font-size:16px;
			}
			@include bp(xsl){
				text-align:center;
				font-size:16px;
			}
		}
		.right{
			@include bp(m){
				float:none;
			}
			@include bp(xsl){
				position:absolute;
				display:block;
				bottom:-36px;
				right:0;
				z-index:20;
			}
		}
		.hidden-xs{
			@include bp(xs){
				display:none;
			}
			@include bp(xsl){
				display:none;
			}
		}
		.expand{
			color:#fff;
			text-decoration:none;
			letter-spacing:-0.5px;
			@include bp(l){
				font-size:16px;
			}
			@include bp(xsl){
				display:inline-block;
				vertical-align:top;
				width:28px;
				height:28px;
				-webkit-border-radius:50%;
				-moz-border-radius:50%;
				border-radius:50%;
				background:#000;
				text-align:center;
			}
			&:hover{
				span{
					&:after{
						right:0;
						left:0;
					}
				}
			}
			& + .expand{
				margin-left:5px;
				@include bp(xs){
					margin-left:10px;
				}
			}
			span{
				position:relative;
				&:after{
					position:absolute;
					display:block;
					content:"";
					bottom:-1px;
					left:50%;
					right:50%;
					height:2px;
					background:#fff;
					-webkit-transition:all .2s ease-out;
				    -moz-transition:all .2s ease-out;
				    -ms-transition:all .2s ease-out;
				    -o-transition:all .2s ease-out;
				    transition:all .2s ease-out;
				}
			}
			i{
				@include bp(xsl){
					line-height:28px;
				}
			}
		}
	}
	.slider-pagination{
		position:absolute;
		display:inline-block;
		vertical-align:top;
		bottom:calc(16vh + 55px);
		right:30px;
		padding:5px 10px;
		color:#222;
		background:rgba(255,255,255,.7);
		z-index:20;
		@include bp(xs){
			bottom:calc(35vh - 40px);
		}
		@include bp(xsl){
			bottom:35vh;
		}
		.slide-number{
			font-size:16px;
			line-height:22px;
			&.number-slides{
				position:relative;
				margin-left:9px;
				&:after{
					position: absolute;
					display: block;
					content:"/";
					left:-10px;
					top:0;
					font-size:19px;
					line-height:22px;
				}
			}
		}
	}
	.slides-filter{
		position:absolute;
		display:block;
		top:84.5vh;
		left:0;
		right:0;
		z-index:20;
		@include bp(sl){
			top:auto;
			bottom:5px;
		}
		@include bp(s){
			top:auto;
			bottom:5px;
		}
		.filter-list{
			font-size:0;
			list-style:none;
		    margin:0 auto;
		    padding:0 15px;
		    @include bp(s){
				-webkit-flex-wrap:wrap;
				flex-wrap:wrap;
				-webkit-align-items:stretch;
				align-items:stretch;
			}
		    @include bp(sl){
		    	text-align:center;
		    	-webkit-flex-wrap:wrap;
				flex-wrap:wrap;
				-webkit-align-items:stretch;
				align-items:stretch;
		    }
		    @include bp(xs){
		    	padding:0;
		    }
		    @include bp(xsl){
		    	padding:0;
		    }
			*{
				font-size:16px;
				@include bp(m){
			    	font-size:14px;
			    	letter-spacing:-0.5px;
			    }
			}
			li{
				display:inline-block;
				vertical-align:top;
				@include bp(s){
					width:36%;
					margin:0 1% 5px;
					@include flex();
				}
				@include bp(sl){
					width:36%;
					margin:0 1% 5px;
					@include flex();
				}
				& + li{
					margin-left:5px;
					@include bp(s){
						margin-left:1%;
					}
					@include bp(sl){
						margin-left:1%;
					}
					@include bp(xs){
						margin-left:1%;
					}
				}
				&:nth-child(1), &:nth-child(4){
					@include bp(s){
						width:22%;
					}
					@include bp(sl){
						width:22%;
					}
				}
			}
			a{
				display:block;
				padding: 5px 10px;
				background:rgba(255,255,255,.5);
				color:#222;
				text-decoration:none;
				-webkit-transition:all .2s ease-out;
			    -moz-transition:all .2s ease-out;
			    -ms-transition:all .2s ease-out;
			    -o-transition:all .2s ease-out;
			    transition:all .2s ease-out;
			    @include bp(m){
			    	font-size:14px;
			    	padding:5px;
			    	letter-spacing:-0.5px;
			    }
			    @include bp(s){
					width:100%;
				}
				@include bp(sl){
					width:100%;
				}
			    @include bp(xxs){
			    	min-height:50px;
			    	font-size:15px;
			    }
				&.active, &:hover{
					background:rgba(255,255,255,.8);
				}
				i{
					font-style:normal;
				}
			}
		}
	}
	.slick-slider{
		&.slick-dotted{
			margin-bottom:0;
		}
	}
	.slick-slide{
		&, &:hover, &:focus{
			outline:none;
		}
	}
	.slider-for{
		padding:0 15px;
		.slick-prev, .slick-next{
			top:65px;
			bottom:65px;
			width:100px;
			height:auto;
		    -webkit-transform:translate(0);
		    -ms-transform:translate(0);
		    transform:translate(0);
		    z-index:10;
		    background:rgba(0,0,0,0);
		    -webkit-transition:all .2s ease-out;
		    -moz-transition:all .2s ease-out;
		    -ms-transition:all .2s ease-out;
		    -o-transition:all .2s ease-out;
		    transition:all .2s ease-out;
		    @include bp(xs){
		    	width:40px;
		    }
		    &:hover{
		    	background:rgba(0,0,0,.15);
		    }
		    &.slick-disabled{
		    	&:hover{
		    		background:rgba(0,0,0,0);
		    	}
		    }
		    &:before{
		    	font-size:50px;
		    	@include bp(xs){
			    	font-size:35px;
			    }
		    }
		}
		.slick-prev{
			left:0px;
		}
		.slick-next{
			right:0px;
		}
		.slick-slide{
			position:relative;
			height:calc(85vh - 50px);
			@include bp(m){
				height:calc(85vh - 65px);
			}
			@include bp(sl){
				height:64vh;
			}
			@include bp(s){
				height:81vh;
			}
			@include bp(xs){
				height:67vh;
			}
			@include bp(xsl){
				height:62vh;
			}
			@include bp(xxs){
				height:60vh;
			}
		}
		.media-img{
			position:absolute;
			display:block;
			top:5px;
			right:0;
			bottom:20px;
			left:0;
			background-size:contain;
			background-position:50% 50%;
			background-repeat:no-repeat;
			@include bp(sl){
				bottom:5px;
			}
			.youtube-player{
				display:block;
				margin:0 auto;
				width:100%!important;
				height:calc(85vh - 75px);
				@include bp(m){
					height:calc(85vh - 90px);
				}
				@include bp(sl){
					height:calc(64vh - 25px);
				}
				@include bp(s){
					height:calc(81vh - 25px);
				}
				@include bp(xs){
					height:calc(67vh - 25px);
				}
				@include bp(xsl){
					height:calc(62vh - 25px);
				}
				@include bp(xxs){
					height:calc(60vh - 25px);
				}
			}
		}
	}
	.slider-nav{
		margin-top:35px;
		padding:0 9px;
		@include bp(sl){
			opacity:0!important;
			visibility:hidden!important;
		}
		@include bp(s){
			opacity:0!important;
			visibility:hidden!important;
		}
		@include bp(xs){
			margin-top:16vh;
		}
		@include bp(xsl){
			opacity:0!important;
			visibility:hidden!important;
		}
		&.no-margin{
			margin:0!important;
		}
		.slick-dots{
			visibility:hidden;
			opacity:0;
		}
		.slick-prev, .slick-next{
			top:0;
			bottom:0;
			width:40px;
			height:auto;
		    -webkit-transform:translate(0);
		    -ms-transform:translate(0);
		    transform:translate(0);
		    z-index:10;
		    background:rgba(0,0,0,0);
		    -webkit-transition:all .2s ease-out;
		    -moz-transition:all .2s ease-out;
		    -ms-transition:all .2s ease-out;
		    -o-transition:all .2s ease-out;
		    transition:all .2s ease-out;
		    &:hover{
		    	background:rgba(0,0,0,.15);
		    }
		    &.slick-disabled{
		    	&:hover{
		    		background:rgba(0,0,0,0);
		    	}
		    }
		    &:before{
		    	font-size:35px;
		    }
		}
		.slick-prev{
			left:0px;
		}
		.slick-next{
			right:0px;
		}
		.slick-slide{
			position:relative;
			height:calc(15vh - 35px);
			@include bp(xs){
				height:14vh;
			}
			@include bp(xsl){
				height:19vh;
			}
			&.slick-current{
				.preview{
					&:after{
						background:rgba(42, 121, 222, 0.4);
					}
				}
			}
		}
		.preview{
			position:absolute;
			display:block;
			top:5px;
			right:5px;
			bottom:5px;
			left:5px;
			background-size:cover;
			background-position:50% 50%;
			background-repeat:no-repeat;
			cursor:pointer;
		    &:after{
			    position:absolute;
			    display:block;
			    content:"";
			    top:0;
			    right:0;
			    left:0;
			    bottom:0;
			    background:rgba(42, 121, 222, 0);
			    z-index:10;
			    -webkit-transition:all .2s ease-out;
			    -moz-transition:all .2s ease-out;
			    -ms-transition:all .2s ease-out;
			    -o-transition:all .2s ease-out;
			    transition:all .2s ease-out;
			}
			&:hover{
				&:after{
					background:rgba(42, 121, 222, 0.4);
				}
			}
		}
	}
}
html[data-useragent*='MSIE 10.'],
html[data-useragent*='rv:11.']{
}