@mixin bp( $point ) {
  @if $point == xl {
    @media screen and (min-width: 801px) { @content; }
  }
  @else if $point == l {
    @media screen and (max-width: 1150px) { @content; }
  }
  @else if $point == m {
    @media screen and (max-width: 1060px) { @content; }
  }
  @else if $point == s {
    @media screen and (max-width: 768px) and (orientation:portrait) { @content; }
  }
  @else if $point == sl {
    @media screen and (max-width: 768px) and (orientation: landscape) { @content; }
  }
  @else if $point == ss {
    @media screen and (max-width: 680px) and (orientation: portrait) { @content; }
  }
  @else if $point == xs {
    @media screen and (max-width: 572px) and (orientation:portrait) { @content; }
  }
  @else if $point == xsl {
    @media screen and (max-width: 572px) and (orientation: landscape) { @content; }
  }
  @else if $point == xxs {
    @media screen and (max-width: 400px) { @content; }
  }
}
@mixin flex (){
    display:-webkit-box;
    display:-moz-box;
    display:-ms-flexbox;
    display:-webkit-flex;
    display:flex;
}