/*=========== For White labels just copy this and change it =========*/
/*========= System files ========*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*======= Main part of the SCSS(used in all blocks) =======*/
html {
  min-height: 100%;
}

body {
  font: 400 16px/1.2 "Open Sans", Arial, sans-serif;
  min-height: 100%;
}

.animate, a {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:after {
  display: block;
  content: "";
  clear: both;
}

ul, ol {
  list-style: disc outside;
  padding-left: 30px;
}

p {
  font: 400 16px/24px "Open Sans", Arial, sans-serif;
  color: #7a7a7a;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.wrapper {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  min-width: 320px;
  overflow: hidden;
}

.content {
  max-width: 1128px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.slick-dots li {
  margin: 0 4px;
  height: 13px;
  width: 13px;
}
.slick-dots li button {
  height: 13px;
  width: 13px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #d3d3d3;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li button:hover {
  background: #7a9bb2;
}
.slick-dots li.slick-active button {
  background: #7a9bb2;
}

.layout {
  display: none;
  position: fixed;
  left: 0;
  top: -100px;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 900px) {
  .layout {
    display: none !important;
  }
}

/*========= Header =========*/
.header {
  padding: 20px 0 30px;
}
.header .content {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header .content {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.header .logo {
  -webkit-align-items: center;
  align-items: center;
  max-width: 50%;
}
@media screen and (max-width: 768px) {
  .header .logo {
    max-width: 80%;
    margin: 0 auto 15px;
  }
}
@media screen and (max-width: 768px) {
  .header .logo {
    max-width: 100%;
  }
}
.header .logo img {
  display: block;
  max-width: 100%;
}
.header .header-info-wrap {
  width: 30%;
  padding-left: 10px;
  border-left: 1px solid #b8b8b9;
}
@media screen and (max-width: 768px) {
  .header .header-info-wrap {
    width: 100%;
    border-left: none;
    padding: 0 15px;
    text-align: center;
  }
}
.header .title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  color: #7a7a7a;
}

.header-info {
  list-style: none;
  padding: 0;
}
.header-info li {
  color: #7a7a7a;
}
.header-info a {
  color: #7a7a7a;
}
.header-info .key {
  font-weight: 700;
}

/*========= block-header =========*/
.block-wrap {
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaedee;
}

.block-header {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-bottom: 15px;
}
@media screen and (max-width: 900px) {
  .block-header {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.block-info {
  width: 68%;
  margin-right: 2%;
}
@media screen and (max-width: 900px) {
  .block-info {
    width: 100%;
    margin: 0 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .block-info {
    order: 2;
  }
}

.block-top {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 15px;
  background: #eaedee;
  padding: 15px 10px;
}
@media screen and (max-width: 768px) {
  .block-top {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .block-top .address {
    margin-bottom: 15px;
  }
}
.block-top .title a {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  text-transform: uppercase;
  color: #0820FF;
}
.block-top .title a:hover {
  color: #000e94;
}
.block-top .sub-title {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  color: #177700;
}
.block-top .price {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
}
.block-top .sku {
  font-weight: 300;
  font-style: italic;
}

.list-info {
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .list-info {
    max-width: 560px;
    margin: 0 auto 20px;
  }
}

.seller-box {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .seller-box {
    max-width: 560px;
    margin: 0 auto;
  }
}
.seller-box .img-wrap {
  width: 25%;
  padding-right: 5%;
}
@media screen and (max-width: 450px) {
  .seller-box .img-wrap {
    display: none;
  }
}
.seller-box .img-wrap img {
  display: block;
  max-width: 100px;
  margin-left: auto;
}
.seller-box .seller-info {
  width: 70%;
}
@media screen and (max-width: 450px) {
  .seller-box .seller-info {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .seller-box .seller-info .title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
.seller-box .seller-info .title, .seller-box .seller-info .seller {
  font-weight: 700;
}
.seller-box .seller-info a:hover {
  text-decoration: none;
}

.owner-info {
  list-style: none;
  padding: 0;
}
.owner-info li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  font-size: 14px;
}
@media screen and (max-width: 450px) {
  .owner-info li {
    -webkit-flex-direction: column;
    flex-direction: column;
    text-align: left;
  }
}
.owner-info li + li {
  border-top: 1px solid #eaedee;
}
.owner-info .option {
  font-weight: 700;
  width: 30%;
  padding: 5px 5px 5px 0;
}
@media screen and (max-width: 900px) {
  .owner-info .option {
    width: 40%;
  }
}
@media screen and (max-width: 768px) {
  .owner-info .option {
    width: 23%;
  }
}
@media screen and (max-width: 450px) {
  .owner-info .option {
    width: 100%;
  }
}
.owner-info .value {
  width: 70%;
  padding: 5px;
  border-left: 1px solid #eaedee;
}
@media screen and (max-width: 900px) {
  .owner-info .value {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  .owner-info .value {
    width: 77%;
  }
}
@media screen and (max-width: 450px) {
  .owner-info .value {
    width: 100%;
    border-left: none;
  }
}
.owner-info .value span {
  display: block;
}

.block-media {
  width: 30%;
}
@media screen and (max-width: 900px) {
  .block-media {
    width: 100%;
    max-width: 560px;
    margin: 0 auto 10px;
  }
}
@media screen and (max-width: 768px) {
  .block-media {
    order: 1;
    margin-bottom: 30px;
  }
}

.photo-slider.slick-slider:focus {
  outline: none;
}
.photo-slider.slick-slider .slick-slide:focus {
  outline: none;
}
.photo-slider.slick-slider img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.photo-slider.slick-slider .fancy {
  display: block;
}

.block-character {
  margin-bottom: 15px;
}

.block-list {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  list-style: none;
  padding: 0;
}
@media screen and (max-width: 900px) {
  .block-list {
    -webkit-columns: initial;
    -moz-columns: initial;
    columns: initial;
  }
}
.block-list li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #eaedee;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
.block-list li:hover {
  background: #eaedee;
}
.block-list li span {
  display: inline-block;
  padding: 10px 0;
}
.block-list li .option {
  width: 30%;
  font-weight: 700;
  padding-right: 5px;
  border-right: 1px solid #eaedee;
}
@media screen and (max-width: 450px) {
  .block-list li .option {
    width: 45%;
  }
}
.block-list li .value {
  width: 70%;
  padding-left: 5px;
}
@media screen and (max-width: 450px) {
  .block-list li .value {
    width: 55%;
  }
}

.block-main {
  margin-bottom: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaedee;
}

.ui-tabs-nav {
  border-bottom: 1px solid #eaedee;
  font-size: 0;
  list-style: none;
  padding: 0;
}
.ui-tabs-nav * {
  font-size: 26px;
}
.ui-tabs-nav li {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #eaedee;
  border-bottom: none;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
}
@media screen and (max-width: 450px) {
  .ui-tabs-nav li {
    display: block;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
.ui-tabs-nav li.ui-tabs-active {
  background: #eaedee;
}
.ui-tabs-nav li a {
  display: block;
  padding: 5px 25px;
  line-height: 1.2;
  color: #7a7a7a;
  text-decoration: none;
  font-weight: 700;
}

.ui-tabs-panel {
  padding: 20px 0 0;
  text-align: justify;
}
.ui-tabs-panel .img-wrap {
  display: block;
  margin-bottom: 10px;
}
.ui-tabs-panel .img-wrap img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.ui-tabs-panel p {
  margin-bottom: 7px;
  text-align: justify;
}

.note p {
  font-style: italic;
  font-size: 14px;
}
