.wrapper.oh-report{
	& + .wrapper{
		page-break-before:always;
	}
	&.last{
		.main-table{
			margin-bottom:10px;
		}
	}
	.main{
		display:block;
	}
	.top-info{
		span{
			color:#697a85;
			font-size:12px;
			&:nth-child(2){
			    margin-left:5px;
			}
		}
	}
	.main-table{
		margin-bottom:30px;
		color:#343434;
	    font-size:11px;
	    line-height:13px;
	    font-weight:700;
	    & + .main-table{
	    	page-break-before:always;
	    }
	}
	.title{
		font-size:20px;
	}
	// .head-border{
	// 	th{
	// 		background:#bbdaff;
	// 	    border-bottom:1px solid #8db4e2;
	// 	}
	// }
	td, th{
		padding:5px;
		&.w2{
			width:2%;
		}
		&.w3{
			width:3%;
		}
		&.w4{
			width:4%;
		}
		&.w5{
			width:5%;
		}
		&.w6{
			width:6%;
		}
		&.w7{
			width:7%;
		}
		&.w8{
			width:8%;
		}
		&.w9{
			width:9%;
		}
		&.w10{
			width:10%;
		}
		&.w11{
			width:11%;
		}
		&.w12{
			width:12%;
		}
		&.w13{
			width:13%;
		}
		&.w14{
			width:14%;
		}
		&.w15{
			width:15%;
		}
	}
	th{
		padding:10px 5px;
		text-align:left;
		&.title-center{
			text-align:center;
		}
	}
	.table-list{
		td{
			color:#343434;
			padding:0px 5px 0px;
			&.media{
				text-align:center;
			}
			a{
				color:#343434;
				text-transform:uppercase;
			}
		}
	}
	.editional{
		&:last-child{
			td{
				border-bottom:none;
			}
		}
		&.border{
			td{
			    border-bottom:1px solid #343434;
			}
		}
		td{
		    padding:0px 5px 5px;
		}
		.info{
		    color:#828282;
		    text-transform:capitalize;
		}
	}
	.remarks-wrap{
		&.border{
			td{
			    border-bottom:1px solid #343434;
			}
		}
		td{
		    color:#343434;
		    padding:0px 5px 5px;
			.bold{
				font-weight:700;
			}
			.info{
				font-weight:400;
			}
		}
	}
}
html[data-useragent*='MSIE 10.'],
html[data-useragent*='rv:11.']{
}