.about-wrap{
	margin:66px 0 82px;
	letter-spacing:-4px;
	font-size:0px;
	@include bp( xs ){
		margin:35px 0 40px;
	}
	li{
		display:inline-block;
		vertical-align:top;
		width:25%;
		padding:0 12px;
		text-align:center;
		margin:0 0 20px;
		@include bp( m ){
			width:50%;
		}	
		*{
			letter-spacing:0;
			font:24px/1.2 "Pf Reg", Arial, sans-serif;
		}
		.img-wrap{
			margin-bottom:15px;
			img{
				display:block;
				max-width:100%;
				width:202px;
				margin:0 auto;
				@include border-radius(50%);
			    filter:grayscale(100%);
			    -webkit-filter:grayscale(100%);
			    -moz-filter:grayscale(100%);
			    -ms-filter:grayscale(100%);
			    -o-filter:grayscale(100%);
			    filter:url('#{$imgPath}grayscale.svg');
			    filter:gray;
			    -webkit-filter:grayscale(1);
			}
		}
		.name{
			color:$processSubtitle;
			font-size:30px;
			margin-bottom:5px;
			text-transform:capitalize;	
		}
		.position{
			color:$processTitle;
			text-transform:uppercase;
		}
	}
}
.packages{
	&.schedule{
		.col-2{
			min-width:700px;
		    min-height:initial;
		    @include bp( m ){
				min-width:290px;
			    min-height:initial;
			}
		}
	}
}