.holidays-container{
    margin-top:60px;
    margin-bottom:60px;
    width:100%;
    display:flex;
    justify-content:center;
    -ms-flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap;
    color:#292929;
    @media(max-width: 1900px){
        width:80%;
        margin:0 auto 30px;
    }
    @media(max-width: 1600px){
        width:100%;
    }
    .holidays-block{
        border:1px solid #ccc;
        width:295px;
        height:295px;
        margin:10px;
        padding:25px;
        &:hover{
            background-color:#f1f2f2;
        }
        .month{
            position:relative;
            width:100%;
            height:100px;
            span{
                text-transform:uppercase;
                font-size:28px;
                font-weight:400;
                color:#002653;
            }
            .count{
                font-size:46px;
                font-weight:500;
                position:absolute;
                top:-20px;
                right:-5px;
                color:#be1621;
            }
        }
        .days{
            width:100%;
            height:145px;
            font-size:14px;
        }
        ul > li{
            line-height:20px;
        }
        span{
            color:#be1621;
            font-weight:bold;
        }
    }
}