body {
  margin: 0 auto;
  width: 100%;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  -webkit-font-smoothing: antialiased !important; }

.wrapper, .wrapper p, .wrapper ul, .wrapper ol {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px; }

.wrapper {
  overflow: hidden;
  position: relative;
  padding: 0 15px; }
  .wrapper *, .wrapper *:after, .wrapper *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .wrapper .clear:after {
    display: block;
    content: "";
    clear: both; }
  .wrapper .left {
    float: left; }
  .wrapper .right {
    float: right; }
  .wrapper .bold {
    font-weight: 700; }
  .wrapper .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .wrapper table {
    border-collapse: collapse;
    border-spacing: 0; }

.printbuttonwrap {
  top: 0; }

.wrapper .header {
  padding: 0 0 20px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  .wrapper .header .logo {
    -webkit-align-self: center;
    align-self: center;
    width: 70%;
    max-width: 582px;
    padding-right: 10px; }
    .wrapper .header .logo img {
      display: block;
      max-width: 100%; }
  .wrapper .header .info-wrap {
    padding-left: 25px;
    font-size: 14px;
    line-height: 16px;
    width: 30%; }
    .wrapper .header .info-wrap .phone div {
      display: inline-block;
      vertical-align: top; }
  .wrapper .header .title {
    font-size: 24px;
    line-height: 26px; }
.wrapper .bottom-header {
  padding: 5px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .wrapper .bottom-header {
      -webkit-flex-direction: column;
      flex-direction: column;
      text-align: center; } }
  @media screen and (max-width: 468px) {
    .wrapper .bottom-header {
      padding: 10px 15px; } }
  @media screen and (max-width: 768px) {
    .wrapper .bottom-header .address-wrap {
      margin-bottom: 10px; } }
  .wrapper .bottom-header .address-wrap .title {
    text-transform: uppercase; }
    .wrapper .bottom-header .address-wrap .title a, .wrapper .bottom-header .address-wrap .title span {
      display: inline-block;
      vertical-align: top;
      font-size: 22px;
      line-height: 26px;
      color: #000;
      text-transform: uppercase;
      text-decoration: underline; }
      .wrapper .bottom-header .address-wrap .title a:hover, .wrapper .bottom-header .address-wrap .title span:hover {
        text-decoration: none; }
  .wrapper .bottom-header .address-wrap .address-info {
    font-size: 18px;
    line-height: 1; }
  .wrapper .bottom-header .price-wrap {
    text-align: right;
    padding-left: 10px; }
    .wrapper .bottom-header .price-wrap .price {
      font-size: 22px;
      line-height: 1; }
    .wrapper .bottom-header .price-wrap .number {
      font-size: 14px;
      line-height: 1; }

.wrapper .main {
  display: block; }
.wrapper .top-info span {
  color: #697a85;
  font-size: 14px; }
  .wrapper .top-info span:nth-child(2) {
    margin-left: 5px; }
.wrapper .main-table {
  margin-bottom: 10px;
  color: #343434;
  font-size: 12px;
  font-weight: 700; }
  .wrapper .main-table + .main-table {
    page-break-before: always; }
.wrapper .title {
  font-size: 20px; }
.wrapper .head-border th {
  border-bottom: 2px solid #8db4e2; }
.wrapper td, .wrapper th {
  padding: 5px; }
  .wrapper td.w2, .wrapper th.w2 {
    width: 2%; }
  .wrapper td.w3, .wrapper th.w3 {
    width: 3%; }
  .wrapper td.w4, .wrapper th.w4 {
    width: 4%; }
  .wrapper td.w5, .wrapper th.w5 {
    width: 5%; }
  .wrapper td.w6, .wrapper th.w6 {
    width: 6%; }
  .wrapper td.w7, .wrapper th.w7 {
    width: 7%; }
  .wrapper td.w8, .wrapper th.w8 {
    width: 8%; }
  .wrapper td.w9, .wrapper th.w9 {
    width: 9%; }
  .wrapper td.w10, .wrapper th.w10 {
    width: 10%; }
  .wrapper td.w11, .wrapper th.w11 {
    width: 11%; }
  .wrapper td.w12, .wrapper th.w12 {
    width: 12%; }
  .wrapper td.w13, .wrapper th.w13 {
    width: 13%; }
  .wrapper td.w14, .wrapper th.w14 {
    width: 14%; }
  .wrapper td.w15, .wrapper th.w15 {
    width: 15%; }
.wrapper th {
  padding: 10px 5px;
  text-align: left; }
.wrapper .table-list td {
  color: #343434;
  padding: 5px 5px 2px; }
  .wrapper .table-list td.media {
    text-align: center; }
  .wrapper .table-list td a {
    color: #343434;
    text-transform: uppercase; }
.wrapper .editional:last-child td {
  border-bottom: none; }
.wrapper .editional td {
  padding: 0px 5px 5px;
  border-bottom: 1px solid #343434; }
.wrapper .editional .info {
  color: #828282;
  text-transform: capitalize; }

.wrapper .footer {
  border-top: 1px solid #000; }
  .wrapper .footer .copy-text {
    padding-top: 5px; }
  .wrapper .footer .copy-text, .wrapper .footer p {
    margin: 0;
    font-size: 10px;
    font-style: italic;
    text-align: justify; }

@page {
  size: letter landscape;
  margin: 0.2in 0.15in 0.4in 0.15in; }
@media print {
  @page {
    size: letter landscape;
    margin: 0.2in 0.15in 0.4in 0.15in; }
  .no-print, .no-print * {
    display: none !important; }

  html body {
    padding: 0 !important; }

  .wrapper {
    padding: 0; }
    .wrapper .clear {
      overflow: hidden; }
    .wrapper .header {
      padding-bottom: 2px; }
      .wrapper .header .logo {
        width: 70%;
        max-width: none; }
      .wrapper .header .title {
        font-size: 18px;
        line-height: 1; }
      .wrapper .header .info-wrap {
        font-size: 12px;
        line-height: 13px;
        width: 30%; }
    .wrapper .main-table {
      font-size: 10px; }
    .wrapper .footer {
      border-top: medium solid #000; }
      .wrapper .footer .copy-text {
        padding-top: 5px; }
      .wrapper .footer .copy-text, .wrapper .footer p {
        font-size: 6pt; } }

/*# sourceMappingURL=styles.css.map */
