@import "variables";
@import "mixin";
.wrapper.media-report-2{
	@media screen and (max-width:1000px){
		min-width:auto!important;
	}
	.main{
		.content{
			min-height:1058px;
		    padding:0 30px;
		    -webkit-flex-direction:column;
			flex-direction:column;
			@media screen and (max-width:767px){
				min-height:auto;
				padding:0 15px;
			}
		}
		.img-box{
			display:block;
			&:hover, &:focus{
				outline:none;
			}
		}
	}
	.item-2{
		position:relative;
		overflow:hidden;
		width:100%;
		margin:0 0 10px;
		& + .item-2{
			margin:0;
			@media screen and (max-width:767px){
				margin-bottom: 10px;
			}
		}
		img{
			display:block;
			object-fit:cover;
			height:520px;
			margin:0 auto;
			width:100%;
			@media screen and (max-width:767px){
				height:244px;
			}
		}
	}
	.plan{
		margin-bottom:10px;
		padding:0 10px;
		width:100%;
		img{
			object-fit:contain;
			display:block;
			height:1045px;
			margin:0 auto;
			width:100%;
			@media screen and (max-width:767px){
				height:550px;
			}
		}
	}
}
html[data-useragent*='MSIE 10.'],
html[data-useragent*='rv:11.']{
}
@import "listing-print-2";