.footer{
	padding:10px 0 0;
    border-top:2px solid #eee;
	.copy-text{
		margin-bottom:10px;
	}
	.copy-text, p{
		font-style:italic;
		font-size:14px;
		color:#4040404;
	}
	.bottom-footer{
		padding:3px 0;
		background:#eee;
	}
	.copy{
		font-weight:400;
		color:#404040;
		span{
			font-weight:700;
		}
	}
}