@page{
  size:letter landscape;
  margin:10mm 10mm 10mm 10mm;
}
@media print{
  @page{
    size:letter landscape;
    margin:10mm 10mm 10mm 10mm;
  }
  .no-print, .no-print * {
    display:none!important;
  }
  html body{
    padding:0!important;
  }
  .wrapper.listing-grid{
    padding:0;
    line-height:7pt;
    .fixed-header{
      &.fixed{
        display:none;
      }
    }
    .main-table{
      &, *{
        font-size:5.4pt!important;
      }
      th{
        border-bottom:medium solid #000;
      }
    }
    .item-list{
      & > td{
        border-bottom:thin solid #000;
      }
    }
    .info-box{
      .media{
        display:none;
      }
    }
  }
  html[data-useragent*='MSIE 10.'],
  html[data-useragent*='rv:11.']{
  }
}