body {
  margin: 0 auto;
  width: 100%;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  -webkit-font-smoothing: antialiased !important; }

.wrapper, .wrapper p, .wrapper ul, .wrapper ol {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 7.5pt; }

.wrapper {
  overflow: hidden;
  position: relative;
  padding: 0 25px; }
  .wrapper *, .wrapper *:after, .wrapper *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .wrapper .clear:after {
    display: block;
    content: "";
    clear: both; }
  .wrapper .left {
    float: left; }
  .wrapper .right {
    float: right; }
  .wrapper .bold {
    font-weight: 700; }
  .wrapper .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .wrapper table {
    border-collapse: collapse;
    border-spacing: 0; }

.printbuttonwrap {
  top: 0; }

.wrapper .header {
  padding: 0 0 20px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  .wrapper .header .logo {
    -webkit-align-self: center;
    align-self: center;
    width: 70%;
    max-width: 582px;
    padding-right: 10px; }
    .wrapper .header .logo img {
      display: block;
      max-width: 100%; }
  .wrapper .header .info-wrap {
    padding-left: 25px;
    font-size: 14px;
    line-height: 16px;
    width: 30%; }
    .wrapper .header .info-wrap .phone div {
      display: inline-block;
      vertical-align: top; }
  .wrapper .header .title {
    font-size: 24px;
    line-height: 26px; }
.wrapper .bottom-header {
  padding: 5px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .wrapper .bottom-header {
      -webkit-flex-direction: column;
      flex-direction: column;
      text-align: center; } }
  @media screen and (max-width: 468px) {
    .wrapper .bottom-header {
      padding: 10px 15px; } }
  @media screen and (max-width: 768px) {
    .wrapper .bottom-header .address-wrap {
      margin-bottom: 10px; } }
  .wrapper .bottom-header .address-wrap .title {
    text-transform: uppercase; }
    .wrapper .bottom-header .address-wrap .title a, .wrapper .bottom-header .address-wrap .title span {
      display: inline-block;
      vertical-align: top;
      font-size: 22px;
      line-height: 26px;
      color: #000;
      text-transform: uppercase;
      text-decoration: underline; }
      .wrapper .bottom-header .address-wrap .title a:hover, .wrapper .bottom-header .address-wrap .title span:hover {
        text-decoration: none; }
  .wrapper .bottom-header .address-wrap .address-info {
    font-size: 18px;
    line-height: 1; }
  .wrapper .bottom-header .price-wrap {
    text-align: right;
    padding-left: 10px; }
    .wrapper .bottom-header .price-wrap .price {
      font-size: 22px;
      line-height: 1; }
    .wrapper .bottom-header .price-wrap .number {
      font-size: 14px;
      line-height: 1; }

.wrapper .main {
  display: block; }
.wrapper .fixed-header {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 25px;
  color: #fff;
  font-weight: 700;
  z-index: 5;
  background: #5e6a72; }
  .wrapper .fixed-header.fixed {
    display: table-row; }
  .wrapper .fixed-header td {
    padding: 5px 3px; }
    .wrapper .fixed-header td + td {
      border-left: 2px solid #fff; }
.wrapper .main-table {
  margin-bottom: 10px; }
.wrapper td, .wrapper th {
  vertical-align: bottom; }
  .wrapper td.w2, .wrapper th.w2 {
    width: 2%; }
  .wrapper td.w3, .wrapper th.w3 {
    width: 3%; }
  .wrapper td.w4, .wrapper th.w4 {
    width: 4%; }
  .wrapper td.w5, .wrapper th.w5 {
    width: 5%; }
  .wrapper td.w6, .wrapper th.w6 {
    width: 6%; }
  .wrapper td.w7, .wrapper th.w7 {
    width: 7%; }
  .wrapper td.w8, .wrapper th.w8 {
    width: 8%; }
  .wrapper td.w9, .wrapper th.w9 {
    width: 9%; }
  .wrapper td.w10, .wrapper th.w10 {
    width: 10%; }
  .wrapper td.w11, .wrapper th.w11 {
    width: 11%; }
  .wrapper td.w12, .wrapper th.w12 {
    width: 12%; }
.wrapper th {
  font-weight: 700;
  text-align: left; }
.wrapper .item-list {
  page-break-before: auto;
  page-break-after: avoid;
  page-break-after: inherit;
  background: #fff; }
  .wrapper .item-list:nth-child(even) {
    background: #e1e5e7; }
  .wrapper .item-list:last-child > td {
    border-bottom: none !important; }
  .wrapper .item-list > td {
    border-bottom: thin solid #000; }
.wrapper .item-table {
  page-break-after: auto;
  page-break-inside: avoid; }
.wrapper .items td {
  font-weight: 700;
  padding: 4px 3px 6px; }
.wrapper .items a {
  text-decoration: underline;
  color: #000;
  font-weight: 700; }
.wrapper .info-box {
  page-break-after: auto; }
  .wrapper .info-box td {
    padding: 0px 7px 5px; }
  .wrapper .info-box td, .wrapper .info-box a {
    font-style: italic; }
  .wrapper .info-box a {
    text-decoration: underline;
    color: #000; }
  .wrapper .info-box span + span {
    padding-left: 6px; }

.wrapper .footer {
  border-top: 1px solid #000; }
  .wrapper .footer .copy-text {
    padding-top: 5px; }
  .wrapper .footer .copy-text, .wrapper .footer p {
    margin: 0;
    font-style: italic;
    text-align: justify; }

@page {
  size: letter landscape;
  margin: 0.2in 0.15in 0.4in 0.15in; }
@media print {
  @page {
    size: letter landscape;
    margin: 0.2in 0.15in 0.4in 0.15in; }
  .no-print, .no-print * {
    display: none !important; }

  html body {
    padding: 0 !important; }

  .wrapper {
    padding: 0; }
    .wrapper .clear {
      overflow: hidden; }
    .wrapper .header {
      padding-bottom: 2px; }
      .wrapper .header .logo {
        width: 70%;
        max-width: none; }
      .wrapper .header .title {
        font-size: 18px;
        line-height: 1; }
      .wrapper .header .info-wrap {
        font-size: 12px;
        line-height: 13px;
        width: 30%; }
    .wrapper .fixed-header.fixed {
      display: none; }
    .wrapper .main-table, .wrapper .main-table * {
      font-size: 5.4pt !important; }
    .wrapper .main-table th {
      border-bottom: medium solid #000; }
    .wrapper .item-list > td {
      border-bottom: thin solid #000; }
    .wrapper .info-box .media {
      display: none; }
    .wrapper .footer {
      border-top: medium solid #000; }
      .wrapper .footer .copy-text {
        padding-top: 5px; }
      .wrapper .footer .copy-text, .wrapper .footer p {
        font-size: 6pt; } }

/*# sourceMappingURL=styles.css.map */
