.wrapper.summary-showsheet{
	.main{
		.content{
			padding:0 30px;
			min-height:803px;
		}
	}
	.main-table{
		font-size:12px!important;
		line-height:1.2;
		.empty-row{
			font-size:5px!important;
			line-height:5px;
		}
	}
	td{
		padding:2px 3px;
	}
	td, th{
		vertical-align:top;
		color:#000;
		*{
			color:#000;
		}
		&.w2{
			width:2%;
		}
		&.w3{
			width:3%;
		}
		&.w4{
			width:4%;
		}
		&.w5{
			width:5%;
		}
		&.w6{
			width:6%;
		}
		&.w7{
			width:7%;
		}
		&.w8{
			width:8%;
		}
		&.w9{
			width:9%;
		}
		&.w10{
			width:10%;
		}
		&.w11{
			width:11%;
		}
		&.w12{
			width:12%;
		}
		&.w13{
			width:13%;
		}
		&.w19{
			width:19%;
		}
		&.w20{
			width:20%;
		}
		&.w21{
			width:21%;
		}
	}
	th{
		font-weight:400;
		text-align:left;
	}
	thead{
		tr{
			// background:#cfd6d9;
			&.bottom-head{
				th{
					padding-bottom:5px;
					font-size:14px;
				}
			}
			th{
				padding:5px 0 0;
				vertical-align:middle;
				&:nth-child(odd){
					padding-left:5px;
				}
				&:nth-child(even){
					padding-right:5px;
				}
				&.align-right{
					text-align:right;
				}
			}
		}
	}
	.title, .price{
		font-size:16px;
	}
	.main-title{
		.no-print{
			a{
				display:inline-block;
				margin-left:10px;
			}
			a + a{
				position:relative;
				margin-left:8px;
				&:before{
					position:absolute;
					display:block;
					content:'|';
					left:-7px;
					top:0;
				}
			}
		}
	}
	.top-line{
		background:#a9a9a9;
	}
}
html[data-useragent*='MSIE 10.'],
html[data-useragent*='rv:11.']{
}