.wrapper{
	.footer{
		display:none;
		.content{
			padding:0 30px;
		}
		.copy-text{
		    border-top:1px solid #000000;
		    padding-top:8px;
		}
		.copy-text, p{
			font-style:italic;
			font-size:12px;
			line-height:14px;
			margin:0;
			text-align:justify;
		}
		.bottom-footer{
			margin-top:5px;
			.copy{
				font-size:12px;
				line-height:1;
				span{
					font-weight:500;
				}
			}
		}
	}
}