.wrapper{
	.main{
		.content{
		    padding:0 20px;
			-webkit-flex-wrap:wrap;
			flex-wrap:wrap;
			-webkit-justify-content:flex-start;
			justify-content:flex-start;
			-webkit-align-items:flex-start;
			align-items:flex-start;
			-webkit-align-content:flex-start;
			align-content:flex-start;
		}
		.title{
			padding:3px 5px;
			background:$background;
			color:$textColor;
			font-weight:700;
			a{
				display:block;
				font-weight:400;
				color:$textColor;
				word-wrap:break-word;
				.print{
					display:none;
				}
				.desk{
					display:inline;
				}
			}
		}
		.img-box{
			display:block;
			&:hover, &:focus{
				outline:none;
			}
		}
	}
	.row{
		-webkit-flex-wrap:wrap;
		flex-wrap:wrap;
		-webkit-justify-content:flex-start;
		justify-content:flex-start;
		-webkit-align-items:flex-start;
		align-items:flex-start;
		-webkit-align-content:flex-start;
		align-content:flex-start;
		width:100%;
	}
	.item{
		position:relative;
		overflow:hidden;
		-webkit-flex-direction:column;
		flex-direction:column;
		-webkit-justify-content:center;
		justify-content:center;
		-webkit-align-content:flex-start;
		align-content:flex-start;
		-webkit-align-self:flex-start;
		align-self:flex-start;
		width:calc(50% - 20px);
		margin:0 10px 20px;
		img{
			display:block;
			object-fit:cover;
			height:315px;
			margin:0 auto;
			width:100%;
		}
	}
	.plan{
		margin-bottom:10px;
		padding:0 10px;
		width:100%;
		img{
			display:block;
			max-width:100%;
			margin:0 auto;
		}
	}
	&.frame-border{
		&.print-version{
			.title-top{
				display:none;
			}
		}
	}
	&.inner-review{
		.main{
			.content{
				padding:0;
			}
		}
		.item{
			width:calc(50% - 10px);
			&:nth-child(1){
				margin-left:0px;
			}
			&:nth-child(2){
				margin-right:0px;
			}
			img{
				object-fit:cover;
				height:315px;
				margin:0 auto;
			}
		}
		.plan{
			padding:0;
		}
	}
}
html[data-useragent*='MSIE 10.'],
html[data-useragent*='rv:11.']{
    .wrapper{
      &.inner-review{
      	width:980px;
        max-width:980px;
        .item{
          img{
            width:480px;
            max-width:480px;
          }
        }
        .plan{
          img{
            width:980px;
            max-width:980px;
          }
        }
      }
    }
}