@media print{
  .wrapper.media-report{
    .main{
      display:table!important;
      vertical-align:top;
      .content{
        height:298mm;
        max-width:none;
        padding:0;
        margin:0;
      }
      .row{
      	display:table-row!important;
        vertical-align:top;
      	width:100%!important;
        page-break-inside:avoid;
        &:first-child{
          margin-top:1px;
        }
      }
    }
    .item{
      display:table-cell!important;
      vertical-align:top;
      width:50%!important;
      padding:0 5px 10px;
      margin:0;
      page-break-inside:avoid!important;
      &:nth-child(odd){
        margin-left:0;
        padding-left:0;
      }
      &:nth-child(even){
        margin-right:0;
        padding-right:0;
      }
      img{
        display:block;
        object-fit:cover;
        width:129mm;
        max-width:129mm;
        height:72mm;
        max-height:72mm;
        margin:0 auto;
      }
    }
    .plan{
      display:table-cell!important;
      vertical-align:top;
      .title{
        background:#fff;
      }
      img{
        display:block;
        object-fit:contain;
        width:260mm;
        max-width:260mm;
        height:297mm;
        max-height:297mm;
        margin:0 auto;
      }
    }
  }
  html[data-useragent*='MSIE 10.'],
  html[data-useragent*='rv:11.']{
  }
}