.no-print, .no-print * {
  display: none !important; }

html body {
  padding: 0 !important;
  background: #fff;
  margin: 0 auto; }

.wrapper, .wrapper p, .wrapper ul, .wrapper ol {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: Arial, sans-serif; }

.wrapper {
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  min-width: 987px;
  overflow: hidden;
  position: relative; }
  .wrapper + .wrapper {
    page-break-before: always; }
  .wrapper *, .wrapper *:after, .wrapper *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .wrapper .clear:after {
    display: block;
    content: "";
    clear: both; }
  .wrapper .left {
    float: left; }
  .wrapper .right {
    float: right; }
  .wrapper .content {
    padding: 0;
    margin: 0 auto; }
  .wrapper .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .wrapper .bold {
    font-weight: 700; }
  .wrapper .center {
    text-align: center; }
  .wrapper .header {
    margin-bottom: 5px;
    display: block !important; }
    .wrapper .header .content {
      padding: 0 !important; }
  .wrapper .top-header {
    padding-bottom: 2px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center; }
    .wrapper .top-header .logo {
      -webkit-align-self: center;
      align-self: center;
      width: 50%;
      max-width: 460px;
      padding-right: 10px; }
      .wrapper .top-header .logo img {
        display: block;
        max-width: 100%; }
    .wrapper .top-header .title {
      font-size: 20px !important;
      line-height: 22px; }
    .wrapper .top-header .info-wrap {
      font-size: 12px;
      line-height: 13px;
      padding-left: 15px;
      max-width: 50%; }
      .wrapper .top-header .info-wrap .phone div {
        display: inline-block;
        vertical-align: top; }
  .wrapper .bottom-header {
    padding: 5px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 0 5px; }
    .wrapper .bottom-header .address-wrap .title {
      text-transform: uppercase;
      background: transparent !important;
      padding: 0 !important; }
      .wrapper .bottom-header .address-wrap .title a, .wrapper .bottom-header .address-wrap .title span {
        display: block;
        font-size: 18px;
        line-height: 1;
        color: #000;
        text-transform: uppercase;
        text-decoration: underline; }
    .wrapper .bottom-header .address-wrap .address-info {
      font-size: 18px;
      line-height: 1; }
    .wrapper .bottom-header .price-wrap {
      text-align: right;
      padding-left: 10px; }
      .wrapper .bottom-header .price-wrap .price {
        font-size: 22px;
        line-height: 1; }
      .wrapper .bottom-header .price-wrap .number {
        font-size: 14px;
        line-height: 1; }
  .wrapper .footer {
    display: block !important; }
    .wrapper .footer * {
      font-family: arial, sans-serif !important; }
    .wrapper .footer .content {
      padding: 0; }
    .wrapper .footer .copy-text {
      padding-top: 5px;
      border-top: 1px solid #000000; }
    .wrapper .footer .copy-text, .wrapper .footer p {
      font-size: 10px;
      line-height: 1.1;
      font-style: italic !important;
      margin: 0;
      text-align: justify; }
    .wrapper .footer .bottom-footer {
      margin-top: 2px !important; }
      .wrapper .footer .bottom-footer .copy {
        font-size: 12px;
        line-height: 1; }
        .wrapper .footer .bottom-footer .copy span {
          font-weight: 500; }

/*# sourceMappingURL=common.css.map */
