.wrapper.building-detailed .title-top {
  font-size: 20px;
  letter-spacing: 2px;
  color: #5e6a72;
  text-transform: uppercase;
  padding-bottom: 15px; }
.wrapper.building-detailed .main .content {
  min-height: 1040px;
  padding: 0 30px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }
  .wrapper.building-detailed .main .content.with-aside .info-wrap {
    width: 60%; }
.wrapper.building-detailed .main .info-wrap {
  width: 100%; }
.wrapper.building-detailed .main .description {
  padding-bottom: 16px;
  text-align: justify;
  font-size: 16px;
  line-height: 22px; }
.wrapper.building-detailed .main .company-wrap {
  margin-bottom: 16px; }
  .wrapper.building-detailed .main .company-wrap span {
    font-size: 14px;
    line-height: 15px; }
.wrapper.building-detailed .main .building-info-list {
  list-style: none;
  margin-bottom: 16px;
  display: table;
  width: 100%;
  border-collapse: collapse; }
  .wrapper.building-detailed .main .building-info-list li {
    display: table-row; }
  .wrapper.building-detailed .main .building-info-list span {
    display: table-cell;
    padding: 6px 10px;
    width: auto;
    border: 2px solid #d2d9e0;
    border-left: 0;
    font-size: 14px;
    line-height: 16px; }
    .wrapper.building-detailed .main .building-info-list span.item {
      width: 200px;
      text-align: right;
      padding-left: 0px;
      text-transform: uppercase; }
    .wrapper.building-detailed .main .building-info-list span.option {
      padding-right: 0px;
      border-right: 0;
      border-left: 0; }
.wrapper.building-detailed .main .img-box {
  display: block; }
  .wrapper.building-detailed .main .img-box:hover, .wrapper.building-detailed .main .img-box:focus {
    outline: none; }
.wrapper.building-detailed .main .media-wrap {
  width: 40%;
  padding-right: 20px; }
  .wrapper.building-detailed .main .media-wrap .link-wrap {
    margin-bottom: 10px; }
    .wrapper.building-detailed .main .media-wrap .link-wrap a {
      color: #000;
      text-decoration: underline; }
      .wrapper.building-detailed .main .media-wrap .link-wrap a:hover {
        text-decoration: none; }
      .wrapper.building-detailed .main .media-wrap .link-wrap a + a {
        margin-left: 5px; }
.wrapper.building-detailed .main .media-box {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }
  .wrapper.building-detailed .main .media-box .media-box-item {
    margin-bottom: 10px;
    width: 100%;
    -webkit-align-self: flex-start;
    align-self: flex-start; }
  .wrapper.building-detailed .main .media-box img {
    display: block;
    max-width: 100%;
    max-height: 291px;
    margin: 0 auto;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
.wrapper.building-detailed .main .inner-block {
  padding: 10px 10px 15px;
  background: #f4f4f4;
  margin-bottom: 15px; }
  .wrapper.building-detailed .main .inner-block .inner-title {
    padding: 0 0 10px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
    color: #5e6a72; }
  .wrapper.building-detailed .main .inner-block .inner-box {
    margin-bottom: 15px; }
    .wrapper.building-detailed .main .inner-block .inner-box:last-child {
      margin-bottom: 0; }
  .wrapper.building-detailed .main .inner-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%; }
    .wrapper.building-detailed .main .inner-block ul.two-col-listing {
      width: 50%;
      padding-right: 10px; }
      .wrapper.building-detailed .main .inner-block ul.two-col-listing:last-child {
        padding-right: 0; }
      .wrapper.building-detailed .main .inner-block ul.two-col-listing:nth-child(even) {
        padding-left: 10px; }
    .wrapper.building-detailed .main .inner-block ul a {
      color: #000; }
.wrapper.building-detailed .main .custom-title {
  padding: 5px 10px;
  margin-bottom: 15px;
  margin-top: 10px; }
  .wrapper.building-detailed .main .custom-title .item-name {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 18px; }
.wrapper.building-detailed .main .building-table {
  border-top: 1px solid #000; }
  .wrapper.building-detailed .main .building-table thead {
    background: #cccccc; }
  .wrapper.building-detailed .main .building-table tbody {
    background: #fff; }
  .wrapper.building-detailed .main .building-table td, .wrapper.building-detailed .main .building-table th {
    padding: 5px;
    text-align: left;
    vertical-align: middle;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000; }
    .wrapper.building-detailed .main .building-table td:first-child, .wrapper.building-detailed .main .building-table th:first-child {
      border-left: 1px solid #000; }
    .wrapper.building-detailed .main .building-table td.w9, .wrapper.building-detailed .main .building-table th.w9 {
      width: 9%; }
    .wrapper.building-detailed .main .building-table td.w10, .wrapper.building-detailed .main .building-table th.w10 {
      width: 10%; }
    .wrapper.building-detailed .main .building-table td.w11, .wrapper.building-detailed .main .building-table th.w11 {
      width: 11%; }
    .wrapper.building-detailed .main .building-table td.w12, .wrapper.building-detailed .main .building-table th.w12 {
      width: 12%; }
    .wrapper.building-detailed .main .building-table td.w13, .wrapper.building-detailed .main .building-table th.w13 {
      width: 13%; }
    .wrapper.building-detailed .main .building-table td.w14, .wrapper.building-detailed .main .building-table th.w14 {
      width: 14%; }
    .wrapper.building-detailed .main .building-table td.w15, .wrapper.building-detailed .main .building-table th.w15 {
      width: 15%; }
    .wrapper.building-detailed .main .building-table td.w16, .wrapper.building-detailed .main .building-table th.w16 {
      width: 16%; }
    .wrapper.building-detailed .main .building-table td.w17, .wrapper.building-detailed .main .building-table th.w17 {
      width: 17%; }
    .wrapper.building-detailed .main .building-table td.w18, .wrapper.building-detailed .main .building-table th.w18 {
      width: 18%; }
    .wrapper.building-detailed .main .building-table td.w19, .wrapper.building-detailed .main .building-table th.w19 {
      width: 19%; }
    .wrapper.building-detailed .main .building-table td.w20, .wrapper.building-detailed .main .building-table th.w20 {
      width: 20%; }
    .wrapper.building-detailed .main .building-table td.w50, .wrapper.building-detailed .main .building-table th.w50 {
      width: 50%; }

@media print {
  .wrapper.building-detailed .bottom-header {
    padding: 10px 5px; }
  .wrapper.building-detailed .main .content {
    padding: 0;
    height: 294mm; }
  .wrapper.building-detailed .main .media-box {
    display: table;
    width: 100%; }
    .wrapper.building-detailed .main .media-box .media-box-item {
      display: table-row;
      margin-bottom: 0; }
      .wrapper.building-detailed .main .media-box .media-box-item > div {
        display: table-cell;
        vertical-align: top;
        padding-bottom: 10px; }
    .wrapper.building-detailed .main .media-box img {
      object-fit: contain;
      height: 67mm; }
  .wrapper.building-detailed .main .description {
    font-size: 16px;
    line-height: 1.4;
    padding-bottom: 10px; }
  .wrapper.building-detailed .main .company-wrap {
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 9px; }
    .wrapper.building-detailed .main .company-wrap span {
      font-size: 16px;
      line-height: 1.2; }
  .wrapper.building-detailed .main .building-info-list {
    padding-bottom: 0px;
    margin: 0 0 10px; }
    .wrapper.building-detailed .main .building-info-list span.item,
    .wrapper.building-detailed .main .building-info-list span.option {
      font-size: 16px;
      line-height: 1;
      padding-top: 6px;
      padding-bottom: 6px; } }

/*# sourceMappingURL=styles.css.map */
