@charset "UTF-8";
@font-face {
  font-family: 'Gilroy-R';
  src: url("../fonts/Gilroy-R.eot");
  src: local("тШ║"), url("../fonts/Gilroy-R.woff") format("woff"), url("../fonts/Gilroy-R.ttf") format("truetype"), url("../fonts/Gilroy-R.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-M';
  src: url("../fonts/Gilroy-M.eot");
  src: local("тШ║"), url("../fonts/Gilroy-M.woff") format("woff"), url("../fonts/Gilroy-M.ttf") format("truetype"), url("../fonts/Gilroy-M.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-L';
  src: url("../fonts/Gilroy-L.eot");
  src: local("тШ║"), url("../fonts/Gilroy-L.woff") format("woff"), url("../fonts/Gilroy-L.ttf") format("truetype"), url("../fonts/Gilroy-L.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy-EB';
  src: url("../fonts/Gilroy-EB.eot");
  src: local("тШ║"), url("../fonts/Gilroy-EB.woff") format("woff"), url("../fonts/Gilroy-EB.ttf") format("truetype"), url("../fonts/Gilroy-EB.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: '787';
  src: url("../fonts/787.eot?x83t32");
  src: url("../fonts/787.eot?x83t32#iefix") format("embedded-opentype"), url("../fonts/787.ttf?x83t32") format("truetype"), url("../fonts/787.woff?x83t32") format("woff"), url("../fonts/787.svg?x83t32#787") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: '787' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: "";
}

.icon-plus:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  min-height: 100vh;
  font: 17px/1.71 "Gilroy-M", Arial, sans-serif;
  color: #3e3e3f;
}

p {
  font: 17px/1.71 "Gilroy-M", Arial, sans-serif;
  color: #3e3e3f;
}

.animate, a {
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a {
  text-decoration: none;
}

*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clear:after,
.content:after,
.contact-box:after {
  display: block;
  content: "";
  clear: both;
}

h1, .h1 {
  font: 72px/1.4 "Gilroy-EB";
  color: #d81720;
}
@media screen and (max-width: 576px) {
  h1, .h1 {
    font-size: 48px;
  }
}

h2, .h2 {
  font: 72px/1.2 "Gilroy-EB";
  color: #d81720;
}
@media screen and (max-width: 576px) {
  h2, .h2 {
    font-size: 48px;
  }
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.relative {
  position: relative;
}

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
}

.wrapper {
  min-width: 320px;
  width: 100%;
  position: relative;
}

.header {
  padding: 86px 0 55px;
  background: rgba(62, 62, 63, 0);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}
.header.fixed-theme {
  position: fixed;
  background: #3e3e3f;
  padding: 25px 0;
}
.header.fixed-theme .logo a {
  max-width: 70px;
}
.header.fixed-theme .header-nav {
  margin-top: 28px;
}
.header .content {
  max-width: 980px;
}

.logo {
  display: block;
  float: left;
  width: 24%;
}
.logo a {
  max-width: 129px;
  display: block;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}
.logo img {
  max-width: 100%;
  display: block;
}

.header-nav {
  float: right;
  display: block;
  width: 75%;
  text-align: right;
  margin-top: 56px;
  margin-left: 1%;
  letter-spacing: -4px;
  font-size: 0px;
  -moz-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  -webkit-transition: all 0.8s linear;
  transition: all 0.8s linear;
}
.header-nav * {
  letter-spacing: 0;
}
.header-nav li {
  display: inline-block;
  vertical-align: top;
}
.header-nav li + li {
  margin-left: 26px;
}
.header-nav a {
  font: 18px/1 "Gilroy-EB";
  color: #b2b2b2;
}

.top-back .content {
  padding: 303px 0 475px;
  position: relative;
  z-index: 3;
}
.top-back .h1, .top-back h1 {
  margin-bottom: 31px;
  color: #fff;
}
.top-back .h1 span, .top-back h1 span {
  font-size: 60px;
  display: block;
}
.top-back p {
  font: 24px/1.21 "Gilroy-R";
  color: #fff;
  max-width: 906px;
}

/*Particles*/
canvas {
  display: block;
  vertical-align: bottom;
}

.particles-js-canvas-el {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.polygon {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #787878;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.polygon-grey {
  background-color: #787878;
}

.polygon-yellow {
  background-color: #ffdb00;
}

/*End particles*/
.white {
  background: #fff;
}

.grey {
  background: #f9f9f9;
}

.fl-end {
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

.box-round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.usp {
  padding-bottom: 170px;
}
.usp .container {
  position: relative;
  z-index: 3;
}
.usp .box-wrap {
  margin: 0 0 42px;
}
.usp .box-wrap.to-top {
  margin-top: -310px;
}
.usp .box-wrap .h2, .usp .box-wrap h2 {
  color: #d81720;
}
.usp .box-wrap .h2 span, .usp .box-wrap h2 span {
  color: #3e3e3f;
}
.usp .text-box p {
  margin-bottom: 26px;
}

.text-box .title {
  margin-bottom: 22px;
  font: 24px/1.4 "Gilroy-EB";
  color: #3e3e3f;
}
.text-box p {
  line-height: 1.47;
  color: #787878;
  margin-bottom: 35px;
}
.text-box .link {
  font: 18px/1 "Gilroy-EB";
  color: #ffcf06;
}
.text-box .link i {
  display: inline-block;
  vertical-align: top;
  margin: 5px 0 0 3px;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.text-box .link:hover {
  text-decoration: none;
}
.text-box .link:hover i {
  margin-left: 7px;
}

.polygon-yellow .text-box p {
  color: #3e3e3f;
}
.polygon-yellow .text-box .link {
  color: #3e3e3f;
}
.polygon-yellow .blank-sheet .number {
  color: #ffdb00;
  bottom: -10px;
  left: -40px;
}

.box_1 {
  padding: 85px 0 150px;
}

.blank-sheet {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 71%;
}
.blank-sheet.right-block {
  right: 0;
}
.blank-sheet.left-block {
  left: 0;
}
.blank-sheet.left-block .sm-nav {
  bottom: 40px;
  right: 25px;
}
.blank-sheet .sm-nav {
  position: absolute;
  bottom: 90px;
  right: -5px;
  color: #ffcf06;
  font-size: 14px;
  line-height: 1;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.blank-sheet .sm-nav:after {
  position: absolute;
  content: "";
  left: -58px;
  top: 7px;
  width: 47px;
  height: 1px;
  background: #ffcf06;
}
.blank-sheet .number {
  position: absolute;
  bottom: -10px;
  left: -20px;
  font: 300px/0.7 "Gilroy-EB";
  color: #f9f9f9;
}

.box_2 .text-box {
  padding-top: 107px;
  padding-bottom: 81px;
}
.box_2 .h2, .box_2 h2 {
  margin-top: 70px;
}

.black-block {
  background: #3e3e3f;
  padding: 110px 0;
}
.black-block .h2, .black-block h2 {
  color: #f9f9f9;
  line-height: 1;
}
.black-block .round-list li {
  position: relative;
  line-height: 1;
  color: #f9f9f9;
  margin-bottom: 25px;
}
.black-block .round-list li:before {
  position: absolute;
  content: "";
  top: 0;
  left: -42px;
  width: 19px;
  height: 19px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #787878;
}

.box_3, .box_5 {
  padding: 104px 0 94px;
}
.box_3 .content, .box_5 .content {
  position: relative;
  z-index: 3;
}
.box_3 .h2, .box_3 h2, .box_5 .h2, .box_5 h2 {
  margin: 95px 0 160px;
}
.box_3 .blank-sheet, .box_5 .blank-sheet {
  width: 62%;
}
.box_3 .text-box, .box_5 .text-box {
  margin-top: 68px;
}

.box_4, .box_6, .box_7 {
  padding: 115px 0 137px;
}
.box_4 .h2, .box_4 h2, .box_6 .h2, .box_6 h2, .box_7 .h2, .box_7 h2 {
  margin: 84px 0 250px;
}
.box_4 .text-box, .box_6 .text-box, .box_7 .text-box {
  margin-top: 65px;
}
.box_4 .blank-sheet .sm-nav, .box_6 .blank-sheet .sm-nav, .box_7 .blank-sheet .sm-nav {
  bottom: 42px;
  right: 20px;
}

.box_5 .blank-sheet {
  width: 70%;
}

.ladder {
  padding: 130px 0 105px;
}
.ladder .content {
  position: relative;
  z-index: 3;
}
.ladder .h2, .ladder h2 {
  color: #fff;
  margin-bottom: 40px;
}
.ladder p {
  color: #fff;
  line-height: 2.12;
  margin-bottom: 45px;
}

.box_7 .blank-sheet {
  content: "";
}

.box_7, .box_10 {
  padding-bottom: 46px;
}
.box_7 .h2, .box_7 h2, .box_10 .h2, .box_10 h2 {
  margin: 180px 0;
}
.box_7 .text-box, .box_10 .text-box {
  margin-top: 210px;
}

.box_8 {
  padding-bottom: 53px;
}
.box_8 .text-box {
  margin-top: 25px;
}
.box_8 .h2, .box_8 h2 {
  margin: 210px 0;
}
.box_8 .blank-sheet {
  content: "";
}

.box_9 {
  padding: 95px 0 50px;
}
.box_9 .content {
  position: relative;
  z-index: 3;
}
.box_9 .h2, .box_9 h2 {
  margin-bottom: 35px;
}

.box_10 {
  padding: 153px 0 86px;
}
.box_10 .blank-sheet.left-block .sm-nav {
  bottom: 55px;
}

.box_11 {
  padding: 60px 0 48px;
}
.box_11 .partners {
  text-align: center;
  letter-spacing: -4px;
  font-size: 0;
  -webkit-align-items: center;
  align-items: center;
}
.box_11 .partners * {
  letter-spacing: 0;
}
.box_11 .partners li + li {
  margin-left: 25px;
}
.box_11 .partners img {
  display: block;
  max-width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url("../images/grayscale.svg");
  filter: gray;
}

.accordion-wrap .ac-toggle {
  color: #3e3e3f;
  cursor: pointer;
  margin-bottom: 8px;
  padding-left: 15px;
  position: relative;
  font: 18px/1 "Gilroy-EB";
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.accordion-wrap .ac-toggle:before {
  position: absolute;
  content: "";
  left: 0;
  top: 2px;
  color: #3e3e3f;
  font-family: '787' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.accordion-wrap .ac-toggle:hover, .accordion-wrap .ac-toggle.active {
  color: #d81720;
}
.accordion-wrap .ac-toggle:hover:before, .accordion-wrap .ac-toggle.active:before {
  color: #d81720;
}
.accordion-wrap .ac-toggle.active:before {
  content: "";
}
.accordion-wrap .ac-content {
  display: none;
}
.accordion-wrap .ac-content p {
  padding: 31px 0 38px;
  margin: 0;
}

.polygon-yellow .ac-toggle {
  font-size: 24px;
  padding-left: 20px;
}
.polygon-yellow .ac-toggle:before {
  font-size: 20px;
}
.polygon-yellow .ac-toggle:hover, .polygon-yellow .ac-toggle.active {
  color: #3e3e3f;
}
.polygon-yellow .ac-toggle:hover:before, .polygon-yellow .ac-toggle.active:before {
  color: #3e3e3f;
}
