body, p, ul, ol{
	font:300 16px/1.2 'Open Sans', sans-serif;
}
body{
	min-width:320px;
}
.wrapper{
	overflow:hidden;
	position:relative;
}
*, *:after, *:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.clear{
	&:after{
		display:block;
		content:"";
		clear:both;
	}
}
.left{
	float:left;
}
.right{
	float:right;
}
.content{
	max-width:1200px;
	padding:0 30px;
	margin:0 auto;
}
.flex{
    @include flex();
}