.footer{
	.copy-text{
	    border-top:2px solid $border;
	    padding-top:5px;
		margin-bottom:5px;
	}
	.copy-text, p{
		font-style:italic;
		font-size:14px;
		color:$textColor;
	}
	.bottom-footer{
		padding:3px 0;
	}
	.copy{
		font-weight:400;
		color:$textColor;
		span{
			font-weight:700;
		}
	}
}