.header{
	margin-bottom:20px;
	.bottom-header{
		.content{
			padding:0 30px;
		}
	}
	.address{
		text-align:left;
		font-size:26px;
		font-weight:600;
		color:$textColor;
		padding-top:4px;
		margin-bottom:8px;
	}
	.agent{
		padding:0 0 5px;
		border-bottom:2px solid $border;
		span{
			font-size:16px;
			font-weight:700;
			color:$textColor;
		}
		.bold{
			font-weight:700;
			font-style:normal;
		}
	}
}
.top-header{
	text-align:right;
	padding:3px 0;
	margin-bottom:5px;
	.title{
		font-size:16px;
		line-height:22px;
		font-weight:300;
		color:$textColor;
	}
	.date{
		span{
			font-size:16px;
			line-height:22px;
			font-weight:300;
			color:$textColor;
			& + span{
				margin-left:5px;
			}
		}
	}
}