.header{
	margin-bottom:20px;
	.bottom-header{
		.content{
			padding:0 30px;
			//border-bottom:2px solid #336184;
			// max-width:1140px;
		}
	}
	.address{
		font-size:26px;
		font-weight:600;
		color:#336184;
		color:#404040;
		margin-bottom:8px;
		padding-top:4px;
	}
	.agent{
		padding:0 0 5px;
		border-bottom:2px solid #336184;
		span{
			font-size:16px;
			font-weight:700;
			color:#404040;
		}
		.bold{
			font-weight:700;
			font-style:normal;
		}
	}
}
.top-header{
	padding:3px 0;
	margin-bottom:5px;
	text-align:right;
	.title{
		font-size:16px;
		line-height:22px;
		font-weight:300;
		color:#404040;
	}
	.date{
		span{
			font-size:16px;
			line-height:22px;
			font-weight:300;
			color:#404040;
			& + span{
				margin-left:5px;
			}
		}
	}
}