body {
  background: #fff; }

.wrapper.oh-report {
  padding: 0 25px; }
  .wrapper.oh-report table {
    border-collapse: collapse;
    border-spacing: 0; }

.wrapper.oh-report + .wrapper.oh-report .header {
  display: none; }
.wrapper.oh-report .header {
  margin-bottom: 0; }
  .wrapper.oh-report .header .content {
    padding: 0; }

.wrapper.oh-report + .wrapper {
  page-break-before: always; }
.wrapper.oh-report.last .main-table {
  margin-bottom: 10px; }
.wrapper.oh-report .main {
  display: block; }
.wrapper.oh-report .top-info span {
  color: #697a85;
  font-size: 12px; }
  .wrapper.oh-report .top-info span:nth-child(2) {
    margin-left: 5px; }
.wrapper.oh-report .main-table {
  margin-bottom: 30px;
  color: #343434;
  font-size: 11px;
  line-height: 13px;
  font-weight: 700; }
  .wrapper.oh-report .main-table + .main-table {
    page-break-before: always; }
.wrapper.oh-report .title {
  font-size: 20px; }
.wrapper.oh-report td, .wrapper.oh-report th {
  padding: 5px; }
  .wrapper.oh-report td.w2, .wrapper.oh-report th.w2 {
    width: 2%; }
  .wrapper.oh-report td.w3, .wrapper.oh-report th.w3 {
    width: 3%; }
  .wrapper.oh-report td.w4, .wrapper.oh-report th.w4 {
    width: 4%; }
  .wrapper.oh-report td.w5, .wrapper.oh-report th.w5 {
    width: 5%; }
  .wrapper.oh-report td.w6, .wrapper.oh-report th.w6 {
    width: 6%; }
  .wrapper.oh-report td.w7, .wrapper.oh-report th.w7 {
    width: 7%; }
  .wrapper.oh-report td.w8, .wrapper.oh-report th.w8 {
    width: 8%; }
  .wrapper.oh-report td.w9, .wrapper.oh-report th.w9 {
    width: 9%; }
  .wrapper.oh-report td.w10, .wrapper.oh-report th.w10 {
    width: 10%; }
  .wrapper.oh-report td.w11, .wrapper.oh-report th.w11 {
    width: 11%; }
  .wrapper.oh-report td.w12, .wrapper.oh-report th.w12 {
    width: 12%; }
  .wrapper.oh-report td.w13, .wrapper.oh-report th.w13 {
    width: 13%; }
  .wrapper.oh-report td.w14, .wrapper.oh-report th.w14 {
    width: 14%; }
  .wrapper.oh-report td.w15, .wrapper.oh-report th.w15 {
    width: 15%; }
.wrapper.oh-report th {
  padding: 10px 5px;
  text-align: left; }
  .wrapper.oh-report th.title-center {
    text-align: center; }
.wrapper.oh-report .table-list td {
  color: #343434;
  padding: 0px 5px 0px; }
  .wrapper.oh-report .table-list td.media {
    text-align: center; }
  .wrapper.oh-report .table-list td a {
    color: #343434;
    text-transform: uppercase; }
.wrapper.oh-report .editional:last-child td {
  border-bottom: none; }
.wrapper.oh-report .editional.border td {
  border-bottom: 1px solid #343434; }
.wrapper.oh-report .editional td {
  padding: 0px 5px 5px; }
.wrapper.oh-report .editional .info {
  color: #828282;
  text-transform: capitalize; }
.wrapper.oh-report .remarks-wrap.border td {
  border-bottom: 1px solid #343434; }
.wrapper.oh-report .remarks-wrap td {
  color: #343434;
  padding: 0px 5px 5px; }
  .wrapper.oh-report .remarks-wrap td .bold {
    font-weight: 700; }
  .wrapper.oh-report .remarks-wrap td .info {
    font-weight: 400; }

.wrapper.oh-report.last .footer {
  display: block !important; }
.wrapper.oh-report .footer {
  display: none; }
  .wrapper.oh-report .footer .content {
    padding: 0; }

@page {
  size: letter landscape;
  margin: 10mm 10mm 10mm 10mm; }
@media print {
  @page {
    size: letter landscape;
    margin: 10mm 10mm 10mm 10mm; }
  .no-print, .no-print * {
    display: none !important; }

  html body {
    padding: 0 !important; }

  .wrapper.oh-report {
    padding: 0; }
    .wrapper.oh-report .main {
      min-height: 160mm; }
      .wrapper.oh-report .main .title {
        font-size: 14px;
        line-height: 20px; }
    .wrapper.oh-report .main-table {
      font-size: 8px;
      line-height: 13px;
      margin-bottom: 0; }
      .wrapper.oh-report .main-table td .print-w14, .wrapper.oh-report .main-table th .print-w14 {
        width: 14%; }
      .wrapper.oh-report .main-table th {
        padding: 1px 5px; }
      .wrapper.oh-report .main-table .table-list td.media {
        display: none; } }

/*# sourceMappingURL=styles.css.map */
