.wrapper, .wrapper p, .wrapper ul, .wrapper ol{
	font:400 16px/22px Arial, sans-serif;
    color:#000000;
}
body{
	margin:0;
}
.wrapper{
	min-width:320px;
	overflow:hidden;
	position:relative;
	page-break-after:always;
	*, *:after, *:before{
	    -webkit-box-sizing:border-box;
	    -moz-box-sizing:border-box;
	    box-sizing:border-box;
	}
	.clear{
		&:after{
			display:block;
			content:"";
			clear:both;
		}
	}
	.left{
		float:left;
	}
	.right{
		float:right;
	}
	.content{
		max-width:1200px;
		padding:0 30px;
		margin:0 auto;
		@media screen and (max-width:468px){
			padding:0 15px;
		}
	}
	.flex{
	    @include flex();
	}
	.bold{
		font-weight:700;
	}
	.center{
		text-align:center;
	}
}