.main{
	.content{
		-webkit-flex-direction:row;
		flex-direction:row;
		-webkit-align-items:flex-start;
		align-items:flex-start;
		margin-bottom:10px;
		@media screen and (max-width:768px){
			-webkit-flex-direction:column;
			flex-direction:column;
	    }
	}
}
.media-wrap{
	width:40%;
	padding-right:20px;
	@media screen and (max-width:768px){
		width:100%;
		padding-right:0;
    }
	.link-wrap{
		margin-bottom:10px;
		a{
			color:#000;
			text-decoration:underline;
			&:hover{
				text-decoration:none;
			}
		}
	}
}
.media-box{
	-webkit-flex-direction:column;
	flex-direction:column;
	-webkit-align-items:flex-start;
	align-items:flex-start;
	-webkit-align-content:flex-start;
	align-content:flex-start;
	@media screen and (max-width:768px){
		-webkit-flex-direction:row;
		flex-direction:row;
		-webkit-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	.item{
		margin-bottom:10px;
		width:100%;
		-webkit-align-self:flex-start;
		align-self:flex-start;
		@media screen and (max-width:768px){
			width:50%;
			padding-right:5px;
		}
		@media screen and (max-width:468px){
			width:100%;
			padding:0;
		}
		&:nth-child(even){
			@media screen and (max-width:768px){
				padding-right:0px;
				padding-left:5px;
			}
			@media screen and (max-width:468px){
				padding:0;
			}
		}
		.img-box{
			display:block;
			padding:0;
			&:hover,&:focus{
				outline:none;
			}
		}
	}
	img{
		display:block;
		max-width:100%;
	    max-height:291px;
	    margin:0 auto;
	    // object-fit:contain;
	    -moz-transition:all 0.2s ease-out;
		-o-transition:all 0.2s ease-out;
		-webkit-transition:all 0.2s ease-out;
		transition:all 0.2s ease-out;
	  //   @media screen and (max-width:1024px){
			// height:230px;
	  //   }
	  //   @media screen and (max-width:920px){
			// height:175px;
	  //   }
	  //   @media screen and (max-width:768px){
	  //   	height:auto;
	  //   }

	}
}
.info-wrap{
	width:60%;
	@media screen and (max-width:768px){
		width:100%;
    }
}
.description{
	padding-bottom:16px;
	text-align:justify;
	font-size:16px;
	line-height:22px;
}
.company-wrap{
	margin-bottom:16px;
	span{
		font-size:14px;
		line-height:15px;
	}
}
.building-info-list{
	list-style:none;
	margin-bottom:16px;
	display:table;
	width:100%;
	border-collapse:collapse;
	@media screen and (max-width:468px){
		display:block;
		border-top:2px solid #d2d9e0;
	}
	li{
		display:table-row;
		@media screen and (max-width:468px){
			display:block;
		}
	}
	span{
		display:table-cell;
		padding:10px;
		width:auto;
	    border:2px solid #d2d9e0;
	    border-left:0;
	    font-size:14px;
	    line-height:16px;
	    @media screen and (max-width:468px){
			display:block;
		}
		&.item{
			width:200px;
			text-align:right;
			padding-left:0px;
			text-transform:uppercase;
			@media screen and (max-width:468px){
				width:100%;
				padding:10px 0;
				text-align:left;
				border-right:0;
				border:none;
				border-bottom:1px solid #d2d9e0;
			}
		}
		&.option{
			padding-right:0px;
			border-right:0;
			border-left:0;
			@media screen and (max-width:468px){
				position:relative;
				width:100%;
				padding:10px 15px;
				border:none;
				border-bottom:2px solid #d2d9e0;
			}
			&:before{
				@media screen and (max-width:468px){
					position:absolute;
					display:block;
					content:"";
					left:2px;
					top:17px;
					width:7px;
					height:2px;
					background:#d2d9e0;
				}
			}
		}
	}
}
.contact{
    -webkit-justify-content:flex-start;
    justify-content:flex-start;
    -webkit-align-items:center;
    align-items:center;
	.img-wrap{
		width:20%;
		padding-right:10px;
		img{
			display:block;
			max-width:100%;
			margin:0;
		}
	}
	.contact-info{
		font-size:12px;
		line-height:14px;
		div{
			margin-bottom:5px;
			&.title{
				text-transform:uppercase;
				margin-bottom:10px;
			}
			&.contact-mail{
				margin-bottom:0;
			}
		}
	}
}
.floor-plan-wrap{
	.title{
		font-size:20px;
		line-height:1.1;
		letter-spacing:2px;
		padding:10px 0 15px;
		text-transform:uppercase;
	}
	.plan{
		margin-bottom:26px;
		img{
			display:block;
			border:2px solid #000;
			max-width:100%;
		    height:1200px;
		    margin:0 auto;
		    object-fit:contain;
		    @media screen and (max-width:768px){
				border:1px solid #000;
		    	height:auto;
		    }
		}
	}
}