.wrapper{
	.main{
		display:block;
	}
	.fixed-header{
		display:none;
		position:fixed;
		width:100%;
		top:0;
		left:0;
		right:0;
		padding:0 25px;
		color:#fff;
		font-weight:700;
		z-index:5;
		background:#5e6a72;
		&.fixed{
		    display:table-row;
		}
		td{
			padding:5px 3px;
			& + td{
				border-left:2px solid #fff;
			}
		}
	}
	.main-table{
		margin-bottom:10px;
	}
	td, th{
		vertical-align:bottom;
		&.w2{
			width:2%;
		}
		&.w3{
			width:3%;
		}
		&.w4{
			width:4%;
		}
		&.w5{
			width:5%;
		}
		&.w6{
			width:6%;
		}
		&.w7{
			width:7%;
		}
		&.w8{
			width:8%;
		}
		&.w9{
			width:9%;
		}
		&.w10{
			width:10%;
		}
		&.w11{
			width:11%;
		}
		&.w12{
			width:12%;
		}
	}
	th{
		font-weight:700;
		text-align:left;
	}
	.item-list{
		page-break-before:auto;
	    page-break-after:avoid;
	    page-break-after:inherit;
	    background:#fff;
	    &:nth-child(even){
			background:#e1e5e7;
		}
	    &:last-child{
	    	& > td{
		    	border-bottom:none!important;
	    	}
	    }
	    & > td{
	    	border-bottom:thin solid #000;
	    }
	}
	.item-table{
		page-break-after:auto;
		page-break-inside:avoid;
	}
	.items{
		td{
			font-weight:700;
			padding:4px 3px 6px;
		}
		a{
			text-decoration:underline;
			color:#000;
			font-weight:700;
		}
	}
	.info-box{
	    page-break-after:auto;
		td{
			padding:0px 7px 5px;
		}
		td, a{
			font-style:italic;
		}
		a{
			text-decoration:underline;
			color:#000;
		}
		span{
			& + span{
				padding-left:6px;
			}
		}
	}
}
html[data-useragent*='MSIE 10.'],
html[data-useragent*='rv:11.']{
}