.wrapper.fact-sheet {
  min-width: 320px; }
  .wrapper.fact-sheet .title-top {
    font-size: 20px;
    letter-spacing: 2px;
    color: #5e6a72;
    text-transform: uppercase;
    padding-bottom: 15px; }
  @media screen and (max-width: 767px) {
    .wrapper.fact-sheet .main {
      padding-bottom: 15px; } }
  .wrapper.fact-sheet .main .content {
    min-height: 1040px;
    padding: 0 30px;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start; }
    @media screen and (max-width: 767px) {
      .wrapper.fact-sheet .main .content {
        padding: 0 15px; } }
  .wrapper.fact-sheet .main .info-wrap {
    width: 60%;
    padding-bottom: 15px; }
    @media screen and (max-width: 767px) {
      .wrapper.fact-sheet .main .info-wrap {
        width: 100%; } }
  .wrapper.fact-sheet .main .description {
    padding-bottom: 16px;
    text-align: justify;
    font-size: 16px;
    line-height: 22px; }
  .wrapper.fact-sheet .main .company-wrap {
    margin-bottom: 16px; }
    .wrapper.fact-sheet .main .company-wrap span {
      font-size: 14px;
      line-height: 15px; }
  .wrapper.fact-sheet .main .building-info-list {
    list-style: none;
    margin-bottom: 16px;
    display: table;
    width: 100%;
    border-collapse: collapse; }
    .wrapper.fact-sheet .main .building-info-list li {
      display: table-row; }
    .wrapper.fact-sheet .main .building-info-list span {
      display: table-cell;
      padding: 6px 10px;
      width: auto;
      border: 2px solid #d2d9e0;
      border-left: 0;
      font-size: 14px;
      line-height: 16px; }
      @media screen and (max-width: 550px) {
        .wrapper.fact-sheet .main .building-info-list span {
          font-size: 12px;
          line-height: 14px; } }
      .wrapper.fact-sheet .main .building-info-list span.item {
        width: 200px;
        text-align: right;
        padding-left: 0px;
        text-transform: uppercase; }
        @media screen and (max-width: 550px) {
          .wrapper.fact-sheet .main .building-info-list span.item {
            width: 50%; } }
      .wrapper.fact-sheet .main .building-info-list span.option {
        padding-right: 0px;
        border-right: 0;
        border-left: 0; }
  .wrapper.fact-sheet .main .contact {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center; }
    .wrapper.fact-sheet .main .contact + .contact {
      margin-top: 10px; }
    .wrapper.fact-sheet .main .contact .img-wrap {
      width: 20%;
      padding-right: 10px; }
      .wrapper.fact-sheet .main .contact .img-wrap img {
        display: block;
        max-width: 100%;
        margin: 0; }
    .wrapper.fact-sheet .main .contact .contact-info {
      font-size: 12px;
      line-height: 14px; }
      .wrapper.fact-sheet .main .contact .contact-info div {
        margin-bottom: 5px; }
        .wrapper.fact-sheet .main .contact .contact-info div.title {
          text-transform: uppercase;
          margin-bottom: 10px; }
        .wrapper.fact-sheet .main .contact .contact-info div.contact-mail {
          margin-bottom: 0; }
  .wrapper.fact-sheet .main .img-box {
    display: block; }
    .wrapper.fact-sheet .main .img-box:hover, .wrapper.fact-sheet .main .img-box:focus {
      outline: none; }
  .wrapper.fact-sheet .main .media-wrap {
    width: 40%;
    padding-right: 20px; }
    @media screen and (max-width: 767px) {
      .wrapper.fact-sheet .main .media-wrap {
        width: 100%;
        padding-right: 0; } }
    .wrapper.fact-sheet .main .media-wrap .link-wrap {
      margin-bottom: 10px; }
      .wrapper.fact-sheet .main .media-wrap .link-wrap a {
        color: #000;
        text-decoration: underline; }
        .wrapper.fact-sheet .main .media-wrap .link-wrap a:hover {
          text-decoration: none; }
        .wrapper.fact-sheet .main .media-wrap .link-wrap a + a {
          margin-left: 5px; }
  .wrapper.fact-sheet .main .media-box {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start; }
    @media screen and (min-width: 551px) and (max-width: 767px) {
      .wrapper.fact-sheet .main .media-box {
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap; } }
    .wrapper.fact-sheet .main .media-box .media-box-item {
      margin-bottom: 10px;
      width: 100%;
      -webkit-align-self: flex-start;
      align-self: flex-start; }
      @media screen and (min-width: 551px) and (max-width: 767px) {
        .wrapper.fact-sheet .main .media-box .media-box-item {
          width: 50%; } }
      @media screen and (min-width: 551px) and (max-width: 767px) {
        .wrapper.fact-sheet .main .media-box .media-box-item:nth-child(even) {
          padding-left: 5px; } }
      @media screen and (min-width: 551px) and (max-width: 767px) {
        .wrapper.fact-sheet .main .media-box .media-box-item:nth-child(odd) {
          padding-right: 5px; } }
    .wrapper.fact-sheet .main .media-box img {
      display: block;
      max-width: 100%;
      max-height: 291px;
      margin: 0 auto;
      -moz-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
      -webkit-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out; }

@media print {
  .wrapper.fact-sheet .main .content {
    padding: 0;
    height: 290mm; }
  .wrapper.fact-sheet .main .media-box {
    display: table;
    width: 100%; }
    .wrapper.fact-sheet .main .media-box .media-box-item {
      display: table-row;
      margin-bottom: 0; }
      .wrapper.fact-sheet .main .media-box .media-box-item > div {
        display: table-cell;
        vertical-align: top;
        padding-bottom: 10px; }
    .wrapper.fact-sheet .main .media-box img {
      object-fit: contain;
      height: 67mm; }
  .wrapper.fact-sheet .main .description {
    font-size: 16px;
    line-height: 1.4;
    padding-bottom: 10px; }
  .wrapper.fact-sheet .main .company-wrap {
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 9px; }
    .wrapper.fact-sheet .main .company-wrap span {
      font-size: 16px;
      line-height: 1.2; }
  .wrapper.fact-sheet .main .building-info-list {
    padding-bottom: 0px;
    margin: 0 0 10px; }
    .wrapper.fact-sheet .main .building-info-list span.item,
    .wrapper.fact-sheet .main .building-info-list span.option {
      font-size: 16px;
      line-height: 1;
      padding-top: 6px;
      padding-bottom: 6px; }
  .wrapper.fact-sheet .main .contact .contact-info {
    font-size: 15px;
    line-height: 1.1; }
    .wrapper.fact-sheet .main .contact .contact-info div {
      margin-bottom: 1px; }
      .wrapper.fact-sheet .main .contact .contact-info div.title {
        margin-bottom: 3px; } }

/*# sourceMappingURL=styles.css.map */
