@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic-ext,latin-ext");
body {
  margin: 0 auto; }

.wrapper, .wrapper p, .wrapper ul, .wrapper ol {
  font: 300 16px/1.2 'Open Sans', sans-serif; }

.wrapper {
  min-width: 320px;
  overflow: hidden;
  position: relative; }
  .wrapper + .wrapper {
    page-break-before: always; }
  .wrapper.show-header .header {
    display: block; }
  .wrapper.show-footer .footer {
    display: block; }

.wrapper *, .wrapper *:after, .wrapper *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper .clear:after {
  display: block;
  content: "";
  clear: both; }

.wrapper .left {
  float: left; }

.wrapper .right {
  float: right; }

.wrapper .content {
  max-width: 1000px;
  padding: 0;
  margin: 0 auto; }

.wrapper .flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.printbuttonwrap {
  top: 0; }

.wrapper .header {
  display: none;
  margin-bottom: 10px; }
  .wrapper .header .content {
    padding: 0 30px; }
    @media screen and (max-width: 468px) {
      .wrapper .header .content {
        padding: 0; } }
.wrapper .top-header {
  padding: 0 0 3px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .wrapper .top-header {
      -webkit-flex-direction: column;
      flex-direction: column; } }
  @media screen and (max-width: 468px) {
    .wrapper .top-header {
      padding: 0 15px 26px; } }
  .wrapper .top-header .logo {
    -webkit-align-self: center;
    align-self: center;
    width: 70%;
    max-width: 582px;
    padding-right: 10px; }
    @media screen and (max-width: 768px) {
      .wrapper .top-header .logo {
        width: 100%;
        margin: 0 auto 15px; } }
    .wrapper .top-header .logo img {
      display: block;
      max-width: 100%; }
  .wrapper .top-header .info-wrap {
    padding-left: 25px;
    font-size: 14px;
    line-height: 16px;
    width: 30%; }
    @media screen and (max-width: 768px) {
      .wrapper .top-header .info-wrap {
        width: 260px;
        padding: 10px 0 0;
        border-left: none !important;
        margin: 0 auto; } }
    .wrapper .top-header .info-wrap .phone div {
      display: inline-block;
      vertical-align: top; }
  .wrapper .top-header .title {
    font-size: 20px;
    line-height: 22px; }
.wrapper .bottom-header {
  padding: 5px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .wrapper .bottom-header {
      -webkit-flex-direction: column;
      flex-direction: column;
      text-align: center; } }
  @media screen and (max-width: 468px) {
    .wrapper .bottom-header {
      padding: 10px 15px; } }
  @media screen and (max-width: 768px) {
    .wrapper .bottom-header .address-wrap {
      margin-bottom: 10px; } }
  .wrapper .bottom-header .address-wrap .title {
    text-transform: uppercase; }
    .wrapper .bottom-header .address-wrap .title a, .wrapper .bottom-header .address-wrap .title span {
      display: inline-block;
      vertical-align: top;
      font-size: 22px;
      line-height: 26px;
      color: #000;
      text-transform: uppercase;
      text-decoration: underline; }
      .wrapper .bottom-header .address-wrap .title a:hover, .wrapper .bottom-header .address-wrap .title span:hover {
        text-decoration: none; }
  .wrapper .bottom-header .address-wrap .address-info {
    font-size: 18px;
    line-height: 1; }
  .wrapper .bottom-header .price-wrap {
    text-align: right;
    padding-left: 10px; }
    .wrapper .bottom-header .price-wrap .price {
      font-size: 22px;
      line-height: 1; }
    .wrapper .bottom-header .price-wrap .number {
      font-size: 14px;
      line-height: 1; }

.wrapper .main .content {
  padding: 0 20px;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start; }
.wrapper .main .title {
  padding: 3px 5px;
  background: #eee;
  color: #404040;
  font-weight: 700; }
  .wrapper .main .title a {
    display: block;
    font-weight: 400;
    color: #404040;
    word-wrap: break-word; }
    .wrapper .main .title a .print {
      display: none; }
    .wrapper .main .title a .desk {
      display: inline; }
.wrapper .main .img-box {
  display: block; }
  .wrapper .main .img-box:hover, .wrapper .main .img-box:focus {
    outline: none; }
.wrapper .row {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  width: 100%; }
.wrapper .item {
  position: relative;
  overflow: hidden;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  width: calc(50% - 20px);
  margin: 0 10px 20px; }
  .wrapper .item img {
    display: block;
    object-fit: cover;
    height: 315px;
    margin: 0 auto;
    width: 100%; }
.wrapper .plan {
  margin-bottom: 10px;
  padding: 0 10px;
  width: 100%; }
  .wrapper .plan img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
.wrapper.frame-border.print-version .title-top {
  display: none; }
.wrapper.inner-review .main .content {
  padding: 0; }
.wrapper.inner-review .item {
  width: calc(50% - 10px); }
  .wrapper.inner-review .item:nth-child(1) {
    margin-left: 0px; }
  .wrapper.inner-review .item:nth-child(2) {
    margin-right: 0px; }
  .wrapper.inner-review .item img {
    object-fit: cover;
    height: 315px;
    margin: 0 auto; }
.wrapper.inner-review .plan {
  padding: 0; }

html[data-useragent*='MSIE 10.'] .wrapper.inner-review,
html[data-useragent*='rv:11.'] .wrapper.inner-review {
  width: 980px;
  max-width: 980px; }
  html[data-useragent*='MSIE 10.'] .wrapper.inner-review .item img,
  html[data-useragent*='rv:11.'] .wrapper.inner-review .item img {
    width: 480px;
    max-width: 480px; }
  html[data-useragent*='MSIE 10.'] .wrapper.inner-review .plan img,
  html[data-useragent*='rv:11.'] .wrapper.inner-review .plan img {
    width: 980px;
    max-width: 980px; }

.wrapper .footer {
  display: none; }
  .wrapper .footer .content {
    padding: 0 30px; }
  .wrapper .footer .copy-text {
    border-top: 1px solid #000000;
    padding-top: 8px; }
  .wrapper .footer .copy-text, .wrapper .footer p {
    font-style: italic;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    text-align: justify; }
  .wrapper .footer .bottom-footer {
    margin-top: 5px; }
    .wrapper .footer .bottom-footer .copy {
      font-size: 12px;
      line-height: 1; }
      .wrapper .footer .bottom-footer .copy span {
        font-weight: 500; }

@page {
  size: auto;
  margin: 10mm 10mm 10mm 10mm; }
@media print {
  .no-print {
    display: none !important; }

  html body {
    padding: 0 !important; }

  .wrapper {
    padding: 0; }
    .wrapper .header {
      display: block !important; }
      .wrapper .header .content {
        padding: 0; }
    .wrapper .top-header {
      padding-bottom: 2px; }
      .wrapper .top-header .logo {
        width: 70%;
        max-width: none; }
      .wrapper .top-header .title {
        font-size: 18px;
        line-height: 1; }
      .wrapper .top-header .info-wrap {
        font-size: 12px;
        line-height: 13px;
        width: 30%; }
    .wrapper .bottom-header .address-wrap .title {
      text-transform: uppercase; }
      .wrapper .bottom-header .address-wrap .title a, .wrapper .bottom-header .address-wrap .title span {
        font-size: 18px;
        line-height: 1; }
    .wrapper .main {
      display: table !important;
      vertical-align: top; }
      .wrapper .main .content {
        min-height: 217mm;
        max-width: none;
        padding: 0;
        margin: 0; }
      .wrapper .main .row {
        display: table-row !important;
        vertical-align: top;
        width: 100% !important;
        page-break-inside: avoid; }
    .wrapper .item {
      display: table-cell !important;
      vertical-align: top;
      width: 50% !important;
      padding: 0 5px 10px;
      margin: 0;
      page-break-inside: avoid !important; }
      .wrapper .item:nth-child(odd) {
        margin-left: 0;
        padding-left: 0; }
      .wrapper .item:nth-child(even) {
        margin-right: 0;
        padding-right: 0; }
      .wrapper .item img {
        display: block;
        object-fit: cover;
        width: 97mm;
        max-width: 97mm;
        height: 52mm;
        max-height: 52mm;
        margin: 0 auto; }
    .wrapper .plan {
      display: table-cell !important;
      vertical-align: top; }
      .wrapper .plan .title {
        background: #fff; }
      .wrapper .plan img {
        display: block;
        object-fit: contain;
        width: 200mm;
        max-width: 200mm;
        height: 210mm;
        max-height: 210mm;
        margin: 0 auto; }
    .wrapper .footer {
      display: block !important; }
      .wrapper .footer .content {
        padding: 0; }
      .wrapper .footer .copy-text {
        padding-top: 5px; }
      .wrapper .footer .copy-text, .wrapper .footer p {
        font-size: 10px;
        line-height: 1.1; }
      .wrapper .footer .bottom-footer {
        margin-top: 2px !important; } }

/*# sourceMappingURL=styles.css.map */
