body{
	background:#fff;
}
.wrapper.cma-grid{
	padding:0 25px;
}
.wrapper.cma-grid, .wrapper.cma-grid p, .wrapper.cma-grid ul, .wrapper.cma-grid ol{
    font-family:Helvetica, Arial, sans-serif;
    font-size:7.5pt;
}