.header{
	border-bottom:2px solid #33613f;
	margin-bottom:5px;
	background:#eaffed;
	.address{
		font-size:26px;
		font-weight:600;
	    color: #33613f;
		margin-bottom:8px;
		padding-top:0px;
	}
	.agent{
		padding-top:14px;
		span{
			font-size:16px;
			font-weight:400;
			color:#33613f;
		}
		.bold{
		}
	}
}
.top-header{
	padding:3px 0;
	text-align:right;
	.title{
		font-size:12px;
		line-height:12px;
		font-weight:300;
		color:#33613f;
	}
	.date{
		span{
			font-size:12px;
			line-height:12px;
			font-weight:300;
			color:#33613f;
			& + span{
				margin-left:5px;
			}
		}
	}
	.right{
		padding-top:7px;
	}
}