.header{
	padding:20px 0 30px;
	.content{
	    -webkit-justify-content:space-between;
	    justify-content:space-between;
	    @include bp( m ){
	    	-webkit-flex-direction:column;
			flex-direction:column;
	    }
	}
	.logo{
	    -webkit-align-items:center;
	    align-items:center;
		max-width:50%;
		@include bp( m ){
			max-width:80%;
			margin:0 auto 15px;
		}
		img{
			display:block;
			max-width:100%;
		}
	}
	.header-info-wrap{
		width:30%;
		padding-left:10px;
		border-left:1px solid $mediumGrey;
		@include bp( m ){
			width:90%;
			border-left:none;
			padding:0 15px;
			text-align:center;
		}
	}
	.title{
		font-size:22px;
		font-weight:700;
		line-height:1;
		color:$hardGrey;
	}
}
.header-info{
	list-style:none;
	li{
		color:$hardGrey;
		
	}
	a{
		color:$hardGrey;
	}
	.key{
		font-weight:700;
	}
}