body {
  margin: 0 auto;
  width: 100%;
  -webkit-text-size-adjust: 100% !important;
  -ms-text-size-adjust: 100% !important;
  -webkit-font-smoothing: antialiased !important; }

.wrapper, .wrapper p, .wrapper ul, .wrapper ol {
  font-family: Arial, sans-serif;
  font-size: 10px; }

.wrapper {
  position: relative;
  padding: 0 25px; }
  .wrapper *, .wrapper *:after, .wrapper *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .wrapper .clear:after {
    display: block;
    content: "";
    clear: both; }
  .wrapper .left {
    float: left; }
  .wrapper .right {
    float: right; }
  .wrapper .bold {
    font-weight: 700; }
  .wrapper .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .wrapper .w2 {
    width: 2%; }
  .wrapper .w3 {
    width: 3%; }
  .wrapper .w4 {
    width: 4%; }
  .wrapper .w5 {
    width: 5%; }
  .wrapper .w6 {
    width: 6%; }
  .wrapper .w7 {
    width: 7%; }
  .wrapper .w8 {
    width: 8%; }
  .wrapper .w9 {
    width: 9%; }
  .wrapper .w10 {
    width: 10%; }
  .wrapper .w11 {
    width: 11%; }
  .wrapper .w12 {
    width: 12%; }
  .wrapper .relative {
    position: relative; }

.printbuttonwrap {
  top: 0; }

.wrapper .header {
  padding: 0 0 20px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  .wrapper .header .logo {
    -webkit-align-self: center;
    align-self: center;
    width: 65%;
    max-width: 582px;
    padding-right: 10px; }
    .wrapper .header .logo img {
      display: block;
      max-width: 100%; }
  .wrapper .header .info-wrap {
    padding-left: 25px;
    font-size: 14px;
    line-height: 16px;
    width: 35%; }
    .wrapper .header .info-wrap .phone div {
      display: inline-block;
      vertical-align: top; }
  .wrapper .header .title {
    font-size: 24px;
    line-height: 26px; }
.wrapper .bottom-header {
  padding: 5px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .wrapper .bottom-header {
      -webkit-flex-direction: column;
      flex-direction: column;
      text-align: center; } }
  @media screen and (max-width: 468px) {
    .wrapper .bottom-header {
      padding: 10px 15px; } }
  @media screen and (max-width: 768px) {
    .wrapper .bottom-header .address-wrap {
      margin-bottom: 10px; } }
  .wrapper .bottom-header .address-wrap .title {
    text-transform: uppercase; }
    .wrapper .bottom-header .address-wrap .title a, .wrapper .bottom-header .address-wrap .title span {
      display: inline-block;
      vertical-align: top;
      font-size: 22px;
      line-height: 26px;
      color: #000;
      text-transform: uppercase;
      text-decoration: underline; }
      .wrapper .bottom-header .address-wrap .title a:hover, .wrapper .bottom-header .address-wrap .title span:hover {
        text-decoration: none; }
  .wrapper .bottom-header .address-wrap .address-info {
    font-size: 18px;
    line-height: 1; }
  .wrapper .bottom-header .price-wrap {
    text-align: right;
    padding-left: 10px; }
    .wrapper .bottom-header .price-wrap .price {
      font-size: 22px;
      line-height: 1; }
    .wrapper .bottom-header .price-wrap .number {
      font-size: 14px;
      line-height: 1; }

.wrapper .main {
  display: block;
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #53616c; }
.wrapper .top-info span:last-child, .wrapper .top-info span:nth-last-child(2) {
  margin-left: 9px; }
.wrapper .top-info span:nth-child(2) {
  margin-left: 5px; }
.wrapper .main-table + .main-table {
  page-break-before: always; }
.wrapper .fixed-header {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 25px;
  background: #5e6a72;
  color: #fff;
  z-index: 5; }
  .wrapper .fixed-header.fixed {
    display: table-row; }
  .wrapper .fixed-header td + td {
    border-left: 2px solid #fff; }
  .wrapper .fixed-header td:nth-child(2) {
    border-left: none; }
.wrapper .table-header.hide {
  display: none; }
.wrapper .address {
  background: #5e6a72; }
  .wrapper .address td {
    padding: 5px 10px 5px 90px;
    color: #FFFFFF;
    font-size: 10px;
    text-align: left; }
    .wrapper .address td a {
      color: #FFFFFF;
      font-size: 10px;
      text-transform: uppercase;
      text-decoration: none; }
.wrapper td, .wrapper th {
  vertical-align: middle;
  word-wrap: break-word;
  text-align: center;
  border-collapse: collapse; }
.wrapper .img-wrap {
  position: absolute;
  top: -35px;
  left: -16px; }
  .wrapper .img-wrap .img-box {
    display: block;
    padding: 0; }
    .wrapper .img-wrap .img-box:hover, .wrapper .img-wrap .img-box:focus {
      outline: none; }
  .wrapper .img-wrap img {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%; }
  .wrapper .img-wrap a {
    font-size: 10px;
    padding-left: 6px;
    text-align: left; }
.wrapper .item-info {
  background: #cfd6d9; }
  .wrapper .item-info td {
    font-size: 10px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff; }
    .wrapper .item-info td + td {
      border-left: 2px solid #fff; }
    .wrapper .item-info td:nth-child(2) {
      border-left: none; }
.wrapper .empty td {
  height: 45px; }
.wrapper .summary {
  background: #5e6a72;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  font-size: 0;
  text-align: right; }
  .wrapper .summary * {
    font-size: 11px; }
  .wrapper .summary li {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    letter-spacing: -0.5px;
    padding: 5px 10px; }
    .wrapper .summary li + li {
      margin-left: 10px;
      position: relative; }
      .wrapper .summary li + li:before {
        position: absolute;
        display: block;
        content: "|";
        left: -5px;
        top: 4px;
        color: #fff; }

.wrapper .footer {
  border-top: 1px solid #000; }
  .wrapper .footer .copy-text {
    padding-top: 5px; }
  .wrapper .footer .copy-text, .wrapper .footer p {
    color: #53616c;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    font-style: italic;
    text-align: justify; }

@page {
  size: letter landscape;
  margin: 0.2in 0.15in 0.4in 0.15in; }
@media print {
  @page {
    size: letter landscape;
    margin: 0.2in 0.15in 0.4in 0.15in; }
  .no-print, .no-print * {
    display: none !important; }

  html body {
    padding: 0 !important; }

  .wrapper {
    padding: 0; }
    .wrapper .main {
      padding: 0 16px; }
    .wrapper .clear {
      overflow: hidden; }
    .wrapper .header {
      padding-bottom: 15px; }
      .wrapper .header .logo {
        width: 70%;
        max-width: none; }
      .wrapper .header .title {
        font-size: 18px;
        line-height: 1; }
      .wrapper .header .info-wrap {
        font-size: 12px;
        line-height: 13px;
        width: 30%; }
    .wrapper .fixed-header.fixed {
      display: none; }
    .wrapper .main-table.last .empty:last-child td {
      height: 13px; }
    .wrapper .top-info {
      padding-bottom: 5px; }
    .wrapper .table-header.hide {
      display: table-row; }
    .wrapper .address td {
      background: #5e6a72; }
    .wrapper .img-wrap {
      top: -35px; }
    .wrapper .empty td {
      height: 25px; }
    .wrapper .summary {
      margin: 0px; }
    .wrapper .footer {
      border-top: thin solid #000; }
      .wrapper .footer .copy-text {
        padding-top: 3px; }
      .wrapper .footer .copy-text, .wrapper .footer p {
        font-size: 9px;
        line-height: 9px; } }

/*# sourceMappingURL=styles.css.map */
